@addTagHelper *, LazZiya.TagHelpers
@using CR.DataAccess.Enums
@using CR.Common.Utilities
@model CR.Core.DTOs.ResultDTOs.Appointments.ResultGetAllAppointmentsForExpertPanelDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">تنظیمات پروفایل</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">تنظیمات پروفایل</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                <partial name="ExpertPnelSideBarMenu" />

            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="appointments">

                    @if (Model.AppointmentForExpertPanelDtos.Count > 0)
                    {
                        @foreach (var appointment in Model.AppointmentForExpertPanelDtos)
                        {
                            <!-- Appointment List -->
                            <div class="appointment-list">
                                <div class="profile-info-widget">
                                    <a asp-area="ExpertPanel" asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-consumerId="@appointment.ConsumerId" class="booking-doc-img">
                                        <img src="~/@appointment.ConsumerIconSrc" alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3><a asp-area="ExpertPanel" asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-consumerId="@appointment.ConsumerId">@appointment.ConsumerFullName</a></h3>
                                        <div class="patient-details">
                                            <h4><i class="far fa-clock"></i> @appointment.AppointmentDate ، @appointment.AppointmentTime</h4>
                                            <h5><i class="fas fa-map-marker-alt"></i>@appointment.City، @appointment.Province</h5>
                                            <h5><i class="fas fa-envelope"></i> @appointment.Email</h5>
                                            <h5 class="mb-0"><i class="fas fa-phone"></i> @appointment.PhoneNumber</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="appointment-action">
                                    <a onclick="ShowDetails(@appointment.Id)" class="btn btn-sm bg-info-light" data-toggle="ajaxModal" data-target="#appt_details">
                                        <i class="far fa-eye"></i> مشاهده
                                    </a>
                                    @if (appointment.AppointmentStatus == AppointmentStatus.Waiting.GetDisplayName())
                                    {
                                        <a onclick="Completed(@appointment.Id)" class="btn btn-sm bg-success-light">
                                            <i class="fas fa-check"></i> انجام شد
                                        </a>
                                        <a onclick="GetId(@appointment.Id)" data-toggle="modal" data-target="#NotDoneModal" data-original-title="" title="" class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-times"></i> انجام نشد
                                        </a>
                                    }
                                    @if (appointment.AppointmentStatus == AppointmentStatus.Waiting.GetDisplayName())
                                    {
                                        <a onclick="DeclineAppointment(@appointment.Id,@appointment.ConsumerId)" class="btn btn-sm bg-danger-light">
                                            <i class="fas fa-print"></i> لغو نوبت
                                        </a>
                                    }
                                </div>
                            </div>
                            <!-- /Appointment List -->
                        }
                    }
                    else
                    {
                        <h3>اطلاعاتی جهت نمایش موجود نیست</h3>
                    }

                </div>
                <div class="text-center">
                    <paging total-records="Model.RowCount"
                            page-no="Model.CurrentPage"
                            page-size="Model.PageSize"
                            show-prev-next="true"
                            show-total-pages="false"
                            show-total-records="false"
                            show-page-size-nav="true"
                            show-first-numbered-page="true"
                            show-last-numbered-page="true"
                            query-string-key-page-no="Page"
                            query-string-key-page-size="PageSize"
                            gap-size="2">
                    </paging>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
@section Footer{
<partial name="Footer" />
}

@section Scripts
{

<script src="~/assets/js/ExpertPanel/Appointments/Appointments.js"></script>
<script src="~/assets/js/ExpertPanel/layout.js"></script>

<script src="~/Sweetalert2/sweetalert2.min.js"></script>
<script>
    var Id = 0;

    function ShowDetails(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetails", "Appointments",new { area = "ExpertPanel" })',
            data: {id : id},
            dataType: "json",
            success: function(response) {
                var data = response;

                var body = '';

                body += '<ul class="info-details">';
                body += '<li>';
                body += '<div class="details-header">';
                body += '<div class="row">';
                body +='<div class="col-md-6">';
                body += '<span class="title">تاریخ و زمان نوبت:</span>';
                body += '<span class="text">' + data.appointmentDate + " , " + data.appointmentTime + '</span>';
                body += '</div>';
                body += '<div class="col-md-6">';
                body += '<div class="text-right">';
                if (data.appointmentStatus === "در انتظار") {
                    body += '<button type="button" class="btn bg-warning-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                else if (data.appointmentStatus === "انجام شد") {
                    body += '<button type="button" class="btn bg-success-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                else if (data.appointmentStatus === "انجام نشد") {
                    body += '<button type="button" class="btn bg-danger-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                else {
                    body += '<button type="button" class="btn bg-danger-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</li>';
                body += '<li>';
                body += '<span class="title">وضعیت:</span>';
                body += '<span class="text">' + data.appointmentStatus + '</span>';
                body += '</li>';
                body += '<li>';
                body += '<span class="title">مقدار پرداختی</span>';
                body += '<span class="text">' + data.appointmentPrice + "تومان" + '</span>';
                body += '</li>';
                body += '</ul>';

                $("#appt_details #detailsBody").html(body);
                $("#appt_details").modal("show");

            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function Completed(id) {

        swal.fire({
            title: "آیا از تغیر وضعیت این نوبت مطمئن هستید؟",
            text: "پس از تایید دیگر نمیتوانید وضعیت این نوبت را تغیر دهید!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: '#7cacbe',
            confirmButtonText: "بله , تغیر بده!",
            cancelButtonText: 'خیر',
        }).then((result) => {
            if (result.value) {
                var postData = {
                    'appointmentId': id,
                    'appointmentStatus' : 2
                };
                $.ajax({
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    type: "POST",
                    url: "@Url.Action("ChangeAppointmentStatus", "Appointments")",
                    data: postData,
                    success: function (data) {
                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function (isConfirm) {
                                location.reload();
                            });
                        }
                        else {
                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }

                });
            }
        });
    }

    function GetId(id) {
        Id = id;
    }

    function populateTextarea(name) {
        //get the text by id or predefined or however you wish or passed to function
        var txt = document.getElementById(name).value;

        document.getElementById("reason").value = txt;
    }

    function NotDone() {

        var reason = document.getElementById("reason").value;

        if (reason === "") {
            swal.fire(
                'هشدار!',
                'لطفا دلیل عدم انجام را وارد کنید',
                'warning'
            );
            return;
        }
        swal.fire({
            title: "آیا از تغیر وضعیت این نوبت مطمئن هستید؟",
            text: "پس از تایید دیگر نمیتوانید وضعیت این نوبت را تغیر دهید!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: '#7cacbe',
            confirmButtonText: "بله , تغیر بده!",
            cancelButtonText: 'خیر',
        }).then((result) => {
            if (result.value) {
                var postData = {
                    'appointmentId': Id,
                    'appointmentStatus' : 1,
                    'reason' : reason
                };
                $.ajax({
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    type: "POST",
                    url: "@Url.Action("ChangeAppointmentStatus", "Appointments")",
                    data: postData,
                    success: function (data) {
                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function (isConfirm) {
                                location.reload();
                            });
                        }
                        else {
                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }

                });
            }
        });
    }

    function DeclineAppointment(appointmentId,receiverId) {
          swal.fire({
            title: 'مشاور گرامی از لغو نوبت مطمئن هستید؟',
            text: "پس از تایید تمام هزینه مبلغ به کیف پول کاربر منتقل می شود",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#7cacbe',
            confirmButtonText: 'تایید',
            cancelButtonText: 'انصراف'
        }).then((result) => {
            if (result.value) {
                var data = {};

                data["receiverId"] = receiverId;
                data["appointmentId"] = appointmentId;

                $.ajax({
                    type: "POST",
                    url: '/api/CheckoutFinancialTransactions/DeclineAppointmentExpertSide',
                    data: JSON.stringify(data),
                    dataType: "json",
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    enctype: 'application/json',
                    beforeSend: function(x) {
                        $('#loading').show();
                    },
                    success: function(response) {
                        if (response.isSuccess === true) {
                            swal.fire('موفق!',
                                response.message,
                                'success').then(function(isConfirm) {
                                location.reload();
                            });
                        }else {
                            swal.fire('هشدار!',
                                response.message,
                                'warning');
                        }
                    },
                    complete: function() {
                        $('#loading').hide();
                    },
                    fail: function() {
                        $('#loading').hide();
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
        });
     }
</script>
}

@section ModalAppointmentInformation{
<!-- Appointment Details Modal -->
<div class="modal fade custom-modal" id="appt_details">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">جزییات نوبت</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detailsBody">
            </div>
        </div>
    </div>
</div>
<!-- /Appointment Details Modal -->
}

@section Modal{
<!-- NotDoneAppointmentModal -->
<div class="modal fade" id="NotDoneModal" tabindex="-1" role="dialog" aria-labelledby="NotDoneModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">تغیر وضعیت نوبت : انجام نشد</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" data-original-title="" title=""><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label" for="recipient-name">دلیل عدم انجام :</label><hr />
                    <button onclick="populateTextarea(this.id)" id="NoAnswer" type="button" class="btn btn-block btn-outline-danger active" value="عدم پاسخ به تماس">عدم پاسخ به تماس</button>
                    <button onclick="populateTextarea(this.id)" id="Bussy" type="button" class="btn btn-block btn-outline-danger active" value="اشغال بودن خط">اشغال بودن خط</button>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="message-text">متن :</label>
                    <textarea id="reason" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" data-original-title="" title="">بستن</button>
                <button onclick="NotDone()" class="btn btn-danger" type="button" data-original-title="" title="">تغیر وضعیت</button>
            </div>
        </div>
    </div>
</div>
<!-- /NotDoneAppointmentModal -->
}