@model CR.Presentation.Areas.ConsumerPanel.Models.ViewModels.ConsumerPanelDashboardViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">داشبورد</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">داشبورد</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                <partial name="ConsumerPanelSideBarMenu" />

            </div>
            <!-- /Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body pt-0">

                        <!-- Tab Menu -->
                        <nav class="user-tabs mb-4">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#pat_appointments" data-toggle="tab">نوبت‌دهی</a>
                                </li>
                              @*  <li class="nav-item">
                                    <a class="nav-link" href="#pat_billing" data-toggle="tab"> صورتحساب </a>
                                </li>*@
                            </ul>
                        </nav>
                        <!-- /Tab Menu -->
                        <!--  محتوای تب -->
                        <div class="tab-content pt-0">

                            <!-- Appointment Tab -->
                            <div id="pat_appointments" class="tab-pane fade show active">
                                <div class="card card-table mb-0">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            @if (Model.ResultGetAllAppointmentsForConsumerPanelDto.AppointmentForConsumerPanelDtos != null)
                                            {
                                                <table class="table table-hover table-center mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>پزشک</th>
                                                            <th>تاریخ نوبت</th>
                                                            <th> تاریخ رزرو </th>
                                                            <th>مقدار</th>
                                                            <th> پیگیری </th>
                                                            <th> وضعیت </th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var appointment in Model.ResultGetAllAppointmentsForConsumerPanelDto.AppointmentForConsumerPanelDtos)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <h2 class="table-avatar">
                                                                        <a asp-area="" asp-controller="Experts" asp-action="ExpertDetails" asp-route-expertInformationId="@appointment.ExpertInformationId"  class="avatar avatar-sm mr-2">
                                                                            <img class="avatar-img rounded-circle" src="~/@appointment.ExpertIconSrc" alt="User Image">
                                                                        </a>
                                                                        <a asp-area="" asp-controller="Experts" asp-action="ExpertDetails" asp-route-expertInformationId="@appointment.ExpertInformationId">متخصص @appointment.ExpertFullName <span>@appointment.Speciality</span></a>
                                                                    </h2>
                                                                </td>
                                                                <td>@appointment.AppointmentDate <span class="d-block text-info">@appointment.AppointmentTime</span></td>
                                                                <td>@appointment.ReservationDate</td>
                                                                @if (appointment.Price == "0")
                                                                {
                                                                    <td>رایگان</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@appointment.Price تومان</td>
                                                                }
                                                                <td>@appointment.ExpertTracking</td>
                                                                @if (@appointment.Status == "در انتظار")
                                                                {
                                                                    <td><span class="badge badge-pill bg-warning-light"> @appointment.Status </span></td>
                                                                }
                                                                else if (appointment.Status == "انجام شد")
                                                                {
                                                                    <td><span class="badge badge-pill bg-success-light"> @appointment.Status </span></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><span class="badge badge-pill bg-danger-light"> @appointment.Status </span></td>
                                                                }
                                                                <td class="text-right">
                                                                    <div class="table-action">
                                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                            <i class="fas fa-print"></i> چاپ
                                                                        </a>
                                                                        <a onclick="ShowDetails(@appointment.Id)" class="btn btn-sm bg-info-light">
                                                                            <i class="far fa-eye"></i> مشاهده
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <h3>اطلاعاتی جهت نمایش موجود نیست</h3>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Appointment Tab -->
                         @*   <!-- Billing Tab -->
                            <div id="pat_billing" class="tab-pane fade">
                                <div class="card card-table mb-0">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-center mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>شماره فاکتور</th>
                                                        <th>پزشک</th>
                                                        <th>مقدار</th>
                                                        <th>پرداخت شده</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="invoice-view.html">#INV-0010</a>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-01.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">رابی پرین <span>دندان پزشک</span></a>
                                                            </h2>
                                                        </td>
                                                        <td> 450 تومان </td>
                                                        <td>14 مهر 1399</td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="invoice-view.html" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> مشاهده
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> چاپ
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="invoice-view.html">#INV-0009</a>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">دکتر دارن الدور <span>دندان پزشک</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>300 تومان</td>
                                                        <td>13 مهر 1399</td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="invoice-view.html" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> مشاهده
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> چاپ
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="invoice-view.html">#INV-0008</a>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-03.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">پزشک دبرا آنجل <span>قلب و عروق</span></a>
                                                            </h2>
                                                        </td>
                                                        <td> 150 تومان </td>
                                                        <td>12 مهر 1399</td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="invoice-view.html" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> مشاهده
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> چاپ
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="invoice-view.html">#INV-0007</a>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-04.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">پزشک سوفیا برنت <span>اورولوژی</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>50 تومان</td>
                                                        <td>11 مهر 1399</td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="invoice-view.html" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> مشاهده
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> چاپ
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="invoice-view.html">#INV-0006</a>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-05.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">پزشک ماروین کمپل <span>چشم پزشکی</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>600 تومان</td>
                                                        <td>10 مهر 1399</td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="invoice-view.html" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> مشاهده
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> چاپ
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="invoice-view.html">#INV-0005</a>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-06.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">پزشک کاترینا برتفولد <span>ارتوپدی</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>200 تومان</td>
                                                        <td>9 مهر 1399</td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="invoice-view.html" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> مشاهده
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> چاپ
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="invoice-view.html">#INV-0004</a>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-07.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">پزشک لیندا توبین <span>نئورولوژی</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>100 تومان</td>
                                                        <td>8 مهر 1399</td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="invoice-view.html" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> مشاهده
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> چاپ
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="invoice-view.html">#INV-0003</a>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-08.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">پزشک پول ریچارد <span>پوست</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>250 تومان</td>
                                                        <td>7 مهر 1399</td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="invoice-view.html" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> مشاهده
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> چاپ
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="invoice-view.html">#INV-0002</a>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-09.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">پزشک جان گیبز <span>دندان پزشک</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>175 تومان</td>
                                                        <td>6 مهر 1399</td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="invoice-view.html" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> مشاهده
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> چاپ
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="invoice-view.html">#INV-0001</a>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/assets/img/doctors/doctor-thumb-10.jpg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">پزشک اولگا بارلو <span>#0010</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>550 تومان</td>
                                                        <td>5 مهر 1399</td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="invoice-view.html" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> مشاهده
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> چاپ
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Billing Tab -->*@

                        </div>
                        <!--  محتوای تب -->

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
<script src="~/assets/js/ConusmerPanel/Home/Home.js"></script>
<script src="~/assets/js/ConusmerPanel/layout.js"></script>

<script>
     function ShowDetails(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetails", "Appointments",new { area = "ConsumerPanel" })',
            data: {id : id},
            dataType: "json",
            success: function(response) {
                var data = response;

                var body = '';

                body += '<ul class="info-details">';
                body += '<li>';
                body += '<div class="details-header">';
                body += '<div class="row">';
                body +='<div class="col-md-6">';
                body += '<span class="title">تاریخ و زمان نوبت:</span>';
                body += '<span class="text">' + data.appointmentDate + " , " + data.appointmentTime + '</span>';
                body += '</div>';
                body += '<div class="col-md-6">';
                body += '<div class="text-right">';
                if (data.appointmentStatus === "در انتظار") {
                    body += '<button type="button" class="btn bg-warning-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                else if (data.appointmentStatus === "انجام نشد") {
                    body += '<button type="button" class="btn bg-danger-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                else {
                    body += '<button type="button" class="btn bg-success-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</li>';
                body += '<li>';
                body += '<span class="title">وضعیت:</span>';
                body += '<span class="text">' + data.appointmentStatus + '</span>';
                body += '</li>';
                body += '<li>';
                body += '<span class="title">مقدار پرداختی</span>';
                body += '<span class="text">' + data.appointmentPrice + "تومان" + '</span>';
                body += '</li>';
                body += '</ul>';

                $("#appt_details #detailsBody").html(body);
                $("#appt_details").modal("show");

            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }
</script>
}

@section Modal{
    <!-- Appointment Details Modal -->
    <div class="modal fade custom-modal" id="appt_details">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">جزییات نوبت</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="detailsBody">
                </div>
            </div>
        </div>
    </div>
    <!-- /Appointment Details Modal -->
}
