@model CR.Core.DTOs.ResultDTOs.ContactUs.ResultGetContactUsDto
<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">پیام های کاربران</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">داشبورد</a></li>
                <li class="breadcrumb-item active">پیام های کاربران </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center">نام و نام خانوادگی</th>
                                <th class="text-center">شماره تماس</th>
                                <th class="text-center">پست الکترونیکی</th>
                                <th class="text-center">پیام</th>
                                <th class="text-center">تاریخ ثبت</th>
                                <th class="text-center">وضعیت</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ContactUsDtos.Count > 0)
                            {
                                @foreach (var contactUs in Model.ContactUsDtos)
                                {
                                    <tr>
                                        <td>
                                            @contactUs.FullName
                                        </td>
                                        
                                        <td class="text-center">
                                            @contactUs.PhoneNumber
                                        </td>

                                        <td class="text-center">
                                            @contactUs.Email
                                        </td>

                                        <td class="text-center">
                                            <button class="tag" onclick="ShowDetails(@contactUs.id)">@contactUs.Message</button>
                                        </td>

                                        <td class="text-center">
                                            @contactUs.CreateDate
                                        </td>

                                        @if (contactUs.IsRead)
                                        {
                                            <td class="text text-center text-success">خوانده شده</td>
                                        }
                                        else
                                        {
                                            <td class="text text-center text-danger">خوانده نشده</td>
                                        }

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center">
            <paging total-records="Model.RowCount"
                    page-no="Model.CurrentPage"
                    page-size="Model.PageSize"
                    show-prev-next="true"
                    show-total-pages="false"
                    show-total-records="false"
                    show-page-size-nav="true"
                    show-first-numbered-page="true"
                    show-last-numbered-page="true"
                    query-string-key-page-no="Page"
                    query-string-key-page-size="PageSize"
                    gap-size="2">
            </paging>
        </div>
    </div>
</div>

<!-- Comment Details Modal -->
<div class="modal fade custom-modal" id="contactUs_details">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">جزئیات پیام</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detailsBody">
            </div>
        </div>
    </div>
</div>
<!-- /Comment Details Modal -->

@section Scripts
{
<script>

    function ShowDetails(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetails","ContactUs")',
            data: {id:id},
            dataType: "json",
            success: function(response) {
                var data = response;

                var body = '';

                body += '<ul class="info-details">';
                body += '<li>';
                body += '<div class="details-header">';
                body += '<div class="row">';
                body +='<div class="col-md-8">';
                body += '<span class="title">نام و نام خانوادگی : </span>';
                body += '<span class="text">' + data.fullName + '</span>';
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</li>';
                body += '<li>';
                body += '<span class="title">تاریخ ارسال پیام : </span>';
                body += '<span class="text">' + data.createDate + '</span>';
                body += '</li>';
                body += '<li>';
                body += '<span class="title">شماره تماس :  : </span>';
                body += '<span class="text">' + data.phoneNumber + '</span>';
                body += '</li>';
                body += '<li>';
                body += '<span class="title">پست الکترونیکی : </span>';
                body += '<span class="text">' + data.email + '</span>';
                body += '</li>';
                body += '<li>';
                body += '<span class="title">متن پیام : </span>';
                body += '<span class="text">' + data.message + '</span>';
                body += '</li>';
                body += '</ul>';

                $("#contactUs_details #detailsBody").html(body);
                $("#contactUs_details").modal("show");

            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }

</script>
}
