@using CR.Common.Convertor
@model CR.Core.DTOs.Blogs.BlogDetailsDto

<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">‌جزییات بلاگ</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">دشبرد</a></li>
                <li class="breadcrumb-item"><a href="javascript:(0);">صفحات</a></li>
                <li class="breadcrumb-item active">‌جزییات بلاگ</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="row">
    <div class="col-sm-12">
        <!-- Blog Details-->
        <div class="blog-view">
            <div class="blog blog-single-post">
                <div class="blog-image">
                    <a href="javascript:void(0);"><img alt="" src="~/@Model.pictureSrc" class="img-fluid"></a>
                </div>
                <h3 class="blog-title">@Model.title</h3>
                <div class="blog-info clearfix">
                    <div class="post-left">
                        <ul>
                            <li>
                                <div class="post-author">
                                    <a href="#"><img src="~/@Model.authorIconSrc" alt="Post Author"> <span>@Model.author</span></a>
                                </div>
                            </li>
                            <li><i class="far fa-calendar"></i>@Model.publishDate.ToShamsi()</li>
                            <li><i class="far fa-comments"></i>12 نظر</li>
                            <li><i class="fa fa-tags"></i>@Model.blogCategoryName</li>
                        </ul>
                    </div>
                </div>
                <div class="blog-content">
                    @Html.Raw(@Model.description)
                </div>
            </div>

            <div class="card author-widget clearfix">
                <div class="card-header">
                    <h4 class="card-title">درباره نویسنده</h4>
                </div>
                <div class="card-body">
                    <div class="about-author">
                        <div class="about-author-img">
                            <div class="author-img-wrap">
                                <a href="#"><img class="img-fluid rounded-circle" alt="" src="~/@Model.authorIconSrc"></a>
                            </div>
                        </div>
                        <div class="author-details">
                            <a href="doctor-profile.html" class="blog-author-name">@Model.author</a>
                            <p class="mb-0">@Model.authorDescription</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card blog-comments clearfix">
                <div class="card-header">
                    <h4 class="card-title">نظر (12)</h4>
                </div>
                <div class="card-body pb-0">
                    <ul class="comments-list">
                        <li>
                            <div class="comment">
                                <div class="comment-author">
                                    <img class="avatar" alt="" src="assets/img/patients/patient4.jpg">
                                </div>
                                <div class="comment-block">
                                    <span class="comment-by">
                                        <span class="blog-author-name">میچل فایرفکس</span>
                                    </span>
                                    <p>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و مشاوران را می طلبد</p>
                                    <p class="blog-date">6 مهر 1399</p>
                                    <a class="comment-btn" href="#">
                                        <i class="fas fa-reply"></i> پاسخ
                                    </a>
                                </div>
                            </div>
                            <ul class="comments-list reply">
                                <li>
                                    <div class="comment">
                                        <div class="comment-author">
                                            <img class="avatar" alt="" src="assets/img/patients/patient5.jpg">
                                        </div>
                                        <div class="comment-block">
                                            <span class="comment-by">
                                                <span class="blog-author-name">جینا مور</span>
                                            </span>
                                            <p>تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                            <p class="blog-date">6 مهر 1399</p>
                                            <a class="comment-btn" href="#">
                                                <i class="fas fa-reply"></i> پاسخ
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment">
                                        <div class="comment-author">
                                            <img class="avatar" alt="" src="assets/img/patients/patient3.jpg">
                                        </div>
                                        <div class="comment-block">
                                            <span class="comment-by">
                                                <span class="blog-author-name">کارل کلی</span>
                                            </span>
                                            <p>تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                            <p class="blog-date">7 مهر 1399</p>
                                            <a class="comment-btn" href="#">
                                                <i class="fas fa-reply"></i> پاسخ
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="comment">
                                <div class="comment-author">
                                    <img class="avatar" alt="" src="assets/img/patients/patient6.jpg">
                                </div>
                                <div class="comment-block">
                                    <span class="comment-by">
                                        <span class="blog-author-name">ایلس گیلی</span>
                                    </span>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
                                    <p class="blog-date">11 مهر 1399</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment">
                                <div class="comment-author">
                                    <img class="avatar" alt="" src="assets/img/patients/patient7.jpg">
                                </div>
                                <div class="comment-block">
                                    <span class="comment-by">
                                        <span class="blog-author-name">جوان گاردنر</span>
                                    </span>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
                                    <p class="blog-date">13 مهر 1399</p>
                                    <a class="comment-btn" href="#">
                                        <i class="fas fa-reply"></i> پاسخ
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card new-comment clearfix">
                <div class="card-header">
                    <h4 class="card-title">ارسال نظر</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label>نام <span class="text-danger">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label> ایمیل <span class="text-danger">*</span></label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label> نظر </label>
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" type="submit"> ارسال</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /Blog Details-->
    </div>
</div>