@using CR.Common.Convertor
@model CR.Presentation.Areas.AdminPanel.Models.ViewModels.AdminBlogDetailsViewModel

<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">‌جزییات بلاگ</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">دشبرد</a></li>
                <li class="breadcrumb-item"><a href="javascript:(0);">صفحات</a></li>
                <li class="breadcrumb-item active">‌جزییات بلاگ</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="row">
    <div class="col-sm-12">
        <!-- Blog Details-->
        <div class="blog-view">
            <div class="blog blog-single-post">
                <div class="blog-image">
                    <a href="javascript:void(0);"><img alt="" src="~/@Model.BlogDetailsDto.pictureSrc" class="img-fluid"></a>
                </div>
                <h3 class="blog-title">@Model.BlogDetailsDto.title</h3>
                <div class="blog-info clearfix">
                    <div class="post-left">
                        <ul>
                            <li>
                                <div class="post-author">
                                    <a href="#"><img src="~/@Model.BlogDetailsDto.authorIconSrc" alt="Post Author"> <span>@Model.BlogDetailsDto.author</span></a>
                                </div>
                            </li>
                            <li><i class="far fa-calendar"></i>@Model.BlogDetailsDto.publishDate.ToShamsi()</li>
                            <li><i class="far fa-comments"></i>@Model.BlogCommentDtos.Count نظر</li>
                            <li><i class="fa fa-tags"></i>@Model.BlogDetailsDto.blogCategoryName</li>
                        </ul>
                    </div>
                </div>
                <div class="blog-content">
                    @Html.Raw(@Model.BlogDetailsDto.description)
                </div>
            </div>

            <div class="card author-widget clearfix">
                <div class="card-header">
                    <h4 class="card-title">درباره نویسنده</h4>
                </div>
                <div class="card-body">
                    <div class="about-author">
                        <div class="about-author-img">
                            <div class="author-img-wrap">
                                <a href="#"><img class="img-fluid rounded-circle" alt="" src="~/@Model.BlogDetailsDto.authorIconSrc"></a>
                            </div>
                        </div>
                        <div class="author-details">
                            <p class="blog-author-name">@Model.BlogDetailsDto.author</p>
                            <p class="mb-0">@Model.BlogDetailsDto.authorDescription</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card blog-comments clearfix">
                <div class="card-header">
                    <h4 class="card-title">نظر (@Model.BlogCommentDtos.Count)</h4>
                </div>
                @if (Model.BlogCommentDtos.Count > 0)
                {
                    <div class="card-body pb-0">
                        <ul class="comments-list">
                            @foreach (var comment in Model.BlogCommentDtos)
                            {
                                <li>
                                    <div class="comment">
                                        <div class="comment-author">
                                            <img class="avatar" alt="@comment.CommenterFullName" src="~/@comment.CommenterIconSrc">
                                        </div>
                                        <div class="comment-block">
                                            <span class="comment-by">
                                                <span id="commenterName_@comment.Id" class="blog-author-name">@comment.CommenterFullName</span>
                                            </span>
                                            <p>@comment.Message</p>
                                            <p class="blog-date">@comment.CreateDate</p>
                                            <a class="comment-btn" onclick="SetParentId(@comment.Id)">
                                                <i class="fas fa-reply"></i> پاسخ
                                            </a>
                                        </div>
                                    </div>
                                    @if (comment.HasChildren)
                                    {
                                        @foreach (var reply in comment.Children)
                                        {
                                            <ul class="comments-list reply">
                                                <li>
                                                    <div class="comment">
                                                        <div class="comment-author">
                                                            <img class="avatar" alt="@reply.CommenterFullName" src="~/@reply.CommenterIconSrc">
                                                        </div>
                                                        <div class="comment-block">
                                                            <span class="comment-by">
                                                                <span class="blog-author-name">@reply.CommenterFullName</span>
                                                            </span>
                                                            <p>@reply.Message</p>
                                                            <p class="blog-date">@reply.CreateDate</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        }
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="card new-comment clearfix">
                <div class="card-header">
                    <h4 id="nameForComment" class="card-title">ارسال نظر</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label> نظر </label>
                        <textarea id="message" rows="4" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="terms-accept">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="terms_accept">
                                <label for="terms_accept">من با تمامی <a href="#">شرایط و مقررات موافقم</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button onclick="AddNewComment()" class="btn btn-primary submit-btn" type="submit"> ارسال</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Blog Details-->
    </div>
</div>

@section Scripts
{
<script>

    var parentId = null;

    function SetParentId(Id) {

        parentId = Id;

        var name = $("#commenterName_" + Id)[0].innerText;

        document.getElementById("nameForComment").innerHTML = "پاسخ به " + name;
    }

    function AddNewComment() {

        if ($("#terms_accept").is(":checked")) {

            var data = {};

            data["message"] = $("#message").val();
            data["typeId"] = 1;
            data["ownerRecordId"] =  @Model.BlogDetailsDto.id;
            data["parentId"] =  parentId;

            $.ajax({
                type: "POST",
                url: '/api/Comments/AddNewCommentFromAdmin',
                data: JSON.stringify(data),
                cache: false,
                contentType: 'application/json; charset=utf-8',
                enctype: 'application/json',
                dataType: 'json',
                beforeSend: function(x) {
                    $('#loading').show();
                },
                success: function(data) {
                    if (data.isSuccess === true) {
                        swal.fire('موفق!',
                            data.message,
                            'success').then(function(isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swal.fire('هشدار!',
                            data.message,
                            'warning');
                    }
                },
                complete: function() {
                    $('#loading').hide();
                },
                fail: function() {
                    $('#loading').hide();
                },
                error: function(request, status, error) {
                    alert(request.responseText);
                }
            });
        } else {

            swal.fire('هشدار!',
                "لطفا تیک شرایط و مقررات را بزنید",
                'warning');

            return;
        }
    }
</script>
}