@model CR.Core.DTOs.ResultDTOs.Blogs.ResultGetBlogsForAdminPanelDto

<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-7 col-auto">
            <h3 class="page-title">مقالات</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">داشبورد</a></li>
                <li class="breadcrumb-item active">مقالات</li>
            </ul>
        </div>
        <div class="col-sm-5 col">
            <a asp-area="AdminPanel" asp-controller="Blogs" asp-action="AddNewBlog" class="btn btn-primary float-right mt-2">افزودن</a>
        </div>
    </div>
</div>
<!-- /Page Header -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center">تصویر</th>
                                <th class="text-center">عنوان مقاله</th>
                                <th class="text-center">دسته بندی</th>
                                <th class="text-center">نویسنده</th>
                                <th class="text-center">تاریخ ایجاد</th>
                                <th class="text-center">تاریخ انتشار</th>
                                <th class="text-center">وضعیت</th>
                                <th class="text-right"> اقدامات </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.BlogForAdminPanelDtos.Count > 0)
                            {
                                @foreach (var blog in Model.BlogForAdminPanelDtos)
                                {
                                    <tr>
                                        <td>
                                            <a class="avatar avatar-sm mr-2">
                                                <img class="avatar-img" src="~/@blog.BlogPictureSrc" alt="@blog.Title">
                                            </a>
                                        </td>

                                        <td class="text-center">@blog.Title</td>

                                        <td class="text-center">@blog.BlogCategory</td>

                                        <td class="text-center">@blog.Author</td>

                                        <td class="text-center">@blog.CreateDate</td>

                                        <td class="text-center">@blog.PublishDate</td>

                                        @if (blog.Status)
                                        {
                                            <td class="text text-center text-success">فعال</td>
                                        }
                                        else
                                        {
                                            <td class="text text-center text-danger">غیر فعال</td>
                                        }

                                        <td class="text-right">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-primary-light" asp-controller="Blogs" asp-action="BlogDetails" asp-route-id="@blog.Id">
                                                    <i class="fe fe-pencil"></i> جزئیات
                                                </a>
                                                <a class="btn btn-sm bg-success-light" asp-controller="Blogs" asp-action="EditBlogDetails" asp-route-id="@blog.Id">
                                                    <i class="fe fe-pencil"></i> ویرایش
                                                </a>
                                                <a onclick="Delete(@blog.Id)" class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> حذف
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    function Delete(Id) {
        swal.fire({
            title: 'حذف مقاله',
            text: "مدیریت گرامی از حذف مقاله مطمئن هستید؟",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#7cacbe',
            confirmButtonText: 'تایید',
            cancelButtonText: 'انصراف'
        }).then((result) => {
            if (result.value) {
                var data = {};
                data["id"] = Number(Id);
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: "POST",
                    enctype: 'application/json',
                    url: '/api/Blogs/RemoveBlog',
                    data: JSON.stringify(data),
                    success: function(data) {
                        if (data.isSuccess === true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function(isConfirm) {
                                location.reload();
                            });
                        } else {
                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }

                });
            }
        });
    }
</script>
}
