@using CR.Common.Utilities
@model CR.Presentation.Models.ViewModels.ExpertProfileViewModel
@{
}
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">پروفایل مشاور</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">پروفایل مشاور</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container">

        <!-- Doctor Widget -->
        <div class="card">
            <div class="card-body">
                <div class="doctor-widget">
                    <div class="doc-info-left">
                        <div class="doctor-img">
                            <img src="~/@Model.ExpertDetailsForSiteDto.IconSrc" class="img-fluid" alt="User Image">
                        </div>
                        <div class="doc-info-cont">
                            <h4 class="doc-name">مشاور @Model.ExpertDetailsForSiteDto.FullName</h4>
                            <p class="doc-speciality"> @Model.ExpertDetailsForSiteDto.Tag </p>
                            <p class="doc-department"><img src="~/@Model.ExpertDetailsForSiteDto.SpecialityImage" class="img-fluid" alt="Speciality">‌@Model.ExpertDetailsForSiteDto.Speciality</p>
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="d-inline-block average-rating">(35)</span>
                            </div>
                            @if (Model.ExpertDetailsForSiteDto.Tags.Count > 0)
                            {
                                <div class="clinic-services">
                                    @foreach (var service in Model.ExpertDetailsForSiteDto.Tags)
                                    {
                                        <span>@service</span>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="doc-info-right">
                        <div class="clini-infos">
                            <ul>
                                <li><i class="far fa-comment"></i> @Model.ExpertDetailsForSiteDto.RateCount فیدبک </li>
                                @if (@Model.ExpertDetailsForSiteDto.Price != 0)
                                {
                                    <li><i class="far fa-money-bill-alt"></i> @Model.ExpertDetailsForSiteDto.Price?.ToString("n0") تومان ساعتی </li>
                                }
                                else
                                {
                                    <li><i class="far fa-money-bill-alt"></i>  رایگان </li>
                                }
                            </ul>
                        </div>
                        <div class="doctor-action">
                            <a onclick="AddToFavorites(@Model.ExpertDetailsForSiteDto.id)" class="btn btn-white fav-btn">
                                <i class="far fa-bookmark"></i>
                            </a>
                        @*    <a class="btn btn-white msg-btn">
                                <i class="far fa-comment-alt"></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#voice_call">
                                <i class="fas fa-phone"></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-white call-btn" data-toggle="modal" data-target="#video_call">
                                <i class="fas fa-video"></i>
                            </a>*@
                        </div>
                        @if (Model.ExpertDetailsForSiteDto.DayDtos.Count > 0)
                        {
                            <div class="clinic-booking">
                                <a class="apt-btn" asp-controller="Experts" asp-action="Reservation" asp-route-expertInformationId="@Model.ExpertDetailsForSiteDto.id">رزرو نوبت</a>
                            </div>
                        }
                        else
                        {
                            <div class="clinic-booking">
                                <button type="button" class="btn btn-block btn-outline-danger active">نوبتی جهت رزرو وجود ندارد</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- /Doctor Widget -->
        <!-- Doctor Details Tab -->
        <div class="card">
            <div class="card-body pt-0">

                <!-- Tab Menu -->
                <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" href="#doc_overview" data-toggle="tab"> نمای کل </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#doc_reviews" data-toggle="tab">نظرات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#doc_business_hours" data-toggle="tab">ساعات کاری هفت روز آینده </a>
                        </li>
                    </ul>
                </nav>
                <!-- /Tab Menu -->
                <!--  محتوای تب -->
                <div class="tab-content pt-0">

                    <!-- Overview Content -->
                    <div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
                        <div class="row">
                            <div class="col-md-12 col-lg-9">

                                <!-- About Details -->
                                <div class="widget about-widget">
                                    <h4 class="widget-title"> درباره من </h4>
                                    <p>@Model.ExpertDetailsForSiteDto.Bio</p>
                                </div>
                                <!-- /About Details -->
                                <!-- Education Details -->
                                @if (Model.ExpertDetailsForSiteDto.studies.Count > 0)
                                {
                                    <div class="widget education-widget">
                                        <h4 class="widget-title"> تحصیلات </h4>
                                        <div class="experience-box">
                                            <ul class="experience-list">
                                                @foreach (var study in Model.ExpertDetailsForSiteDto.studies)
                                                {
                                                    <li>
                                                        <div class="experience-user">
                                                            <div class="before-circle"></div>
                                                        </div>
                                                        <div class="experience-content">
                                                            <div class="timeline-content">
                                                                <a href="#/" class="name"> @study.university </a>
                                                                <div>@study.degreeOfEducation</div>
                                                                <span class="time">@study.endDate</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }
                                <!-- /Education Details -->
                                <!-- Experience Details -->
                                @if (Model.ExpertDetailsForSiteDto.experiences.Count > 0)
                                {
                                    <div class="widget experience-widget">
                                        <h4 class="widget-title"> کار و تجربه </h4>
                                        <div class="experience-box">
                                            <ul class="experience-list">
                                                @foreach (var experience in Model.ExpertDetailsForSiteDto.experiences)
                                                {
                                                    <li>
                                                        <div class="experience-user">
                                                            <div class="before-circle"></div>
                                                        </div>
                                                        <div class="experience-content">
                                                            <div class="timeline-content">
                                                                <a href="#" class="name">@experience.clinicName - @experience.role</a>
                                                                <span class="time">@experience.startYear - @experience.finishYear</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }
                                <!-- /Experience Details -->
                                <!-- Awards Details -->
                                @if (Model.ExpertDetailsForSiteDto.prizes.Count > 0)
                                {
                                    <div class="widget awards-widget">
                                        <h4 class="widget-title">جایزه ها</h4>
                                        <div class="experience-box">
                                            <ul class="experience-list">
                                                @foreach (var prize in Model.ExpertDetailsForSiteDto.prizes)
                                                {
                                                    <li>
                                                        <div class="experience-user">
                                                            <div class="before-circle"></div>
                                                        </div>
                                                        <div class="experience-content">
                                                            <div class="timeline-content">
                                                                <p class="exp-year">@prize.year</p>
                                                                <h4 class="exp-title">@prize.prizeName</h4>
                                                                @*<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>*@
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }
                                <!-- /Awards Details -->
                                <!-- Services List -->
                                @if (Model.ExpertDetailsForSiteDto.Tags.Count > 0)
                                {
                                    <div class="service-list">
                                        <h4>خدمات</h4>
                                        <ul class="clearfix">
                                            @foreach (var tag in Model.ExpertDetailsForSiteDto.Tags)
                                            {
                                                <li>@tag</li>
                                            }
                                        </ul>
                                    </div>
                                }
                                <!-- /Services List -->
                            </div>
                        </div>
                    </div>
                    <!-- /Overview Content -->
                    <!-- Reviews Content -->
                    <div role="tabpanel" id="doc_reviews" class="tab-pane fade">

                        <!-- Review Listing -->
                        <div class="widget review-listing">
                            <ul class="comments-list">
                                @if (Model.ResultGetExpertCommentsForPresentationDto.ExpertCommentDtos.Count > 0)
                                {
                                    @foreach (var comment in Model.ResultGetExpertCommentsForPresentationDto.ExpertCommentDtos)
                                    {
                                        <!-- Comment List -->
                                        <li>
                                            <div class="comment">
                                                <img class="avatar avatar-sm rounded-circle" alt="@comment.CommenterFullName" src="~/@comment.CommenterIconSrc">
                                                <div class="comment-body">
                                                    <div class="meta-data">
                                                        <span id="commenterName_@comment.Id" class="comment-author">@comment.CommenterFullName</span>
                                                        <span class="comment-date">نظر داده شده در تاریخ @comment.CreateDate</span>
                                                        <div class="review-count rating">
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star filled"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                    @*<p class="recommended"><i class="far fa-thumbs-up"></i> این دکتر را پیشنهاد میکنم</p>*@
                                                    <p class="comment-content">
                                                        @comment.Message
                                                    </p>
                                                    <div class="comment-reply">
                                                        <a class="comment-btn" onclick="SetParentId(@comment.Id)">
                                                            <i class="fas fa-reply"></i> پاسخ
                                                        </a>
                                                        @*      <p class="recommend-btn">
                                                            <span>پیشنهاد؟</span>
                                                            <a href="#" class="like-btn">
                                                            <i class="far fa-thumbs-up"></i> بله
                                                            </a>
                                                            <a href="#" class="dislike-btn">
                                                            <i class="far fa-thumbs-down"></i> نه
                                                            </a>
                                                            </p>*@
                                                    </div>
                                                </div>
                                            </div>

                                            @if (comment.HasChildren)
                                            {
                                                @foreach (var reply in comment.Children)
                                                {
                                                    <!-- Comment Reply -->
                                                    <ul class="comments-reply" style="margin-right: 50px">
                                                        <li>
                                                            <div class="comment">
                                                                <img class="avatar avatar-sm rounded-circle" alt="@reply.CommenterFullName" src="~/@reply.CommenterIconSrc">
                                                                <div class="comment-body">
                                                                    <div class="meta-data">
                                                                        <span class="comment-author">@reply.CommenterFullName</span>
                                                                        <span class="comment-date">پاسخ داده شده در تاریخ @reply.CreateDate</span>
                                                                      @*  <div class="review-count rating">
                                                                            <i class="fas fa-star filled"></i>
                                                                            <i class="fas fa-star filled"></i>
                                                                            <i class="fas fa-star filled"></i>
                                                                            <i class="fas fa-star filled"></i>
                                                                            <i class="fas fa-star"></i>
                                                                        </div>*@
                                                                    </div>
                                                                    <p class="comment-content">
                                                                        @reply.Message
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <!-- /Comment Reply -->
                                                }
                                            }
                                        </li>
                                        <!-- /Comment List -->
                                    }
                                }
                            </ul>

                            <!-- Show All -->
                            <div class="all-feedback text-center">
                                <a href="#" class="btn btn-primary btn-sm">
                                    نمایش همگی فیدبک ها <strong>(@Model.ResultGetExpertCommentsForPresentationDto.ExpertCommentDtos.Count)</strong>
                                </a>
                            </div>
                            <!-- /Show All -->

                        </div>
                        <!-- /Review Listing -->
                        <!-- Write Review -->
                        <div class="write-review">
                            <h4>یک نظر بنویسید برای <strong id="nameForComment">مشاور @Model.ExpertDetailsForSiteDto.FullName</strong></h4>

                            <!-- Write Review Form -->
                            <div class="form-group">
                                <label>نظر</label>
                                <div class="star-rating">
                                    <input id="star-5" type="radio" name="rating" value="star-5">
                                    <label for="star-5" title="5 stars">
                                        <i class="active fa fa-star"></i>
                                    </label>
                                    <input id="star-4" type="radio" name="rating" value="star-4">
                                    <label for="star-4" title="4 stars">
                                        <i class="active fa fa-star"></i>
                                    </label>
                                    <input id="star-3" type="radio" name="rating" value="star-3">
                                    <label for="star-3" title="3 stars">
                                        <i class="active fa fa-star"></i>
                                    </label>
                                    <input id="star-2" type="radio" name="rating" value="star-2">
                                    <label for="star-2" title="2 stars">
                                        <i class="active fa fa-star"></i>
                                    </label>
                                    <input id="star-1" type="radio" name="rating" value="star-1">
                                    <label for="star-1" title="1 star">
                                        <i class="active fa fa-star"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>نظر شما</label>
                                <textarea id="message" class="form-control"></textarea>
                                @*<div class="d-flex justify-content-between mt-3"><small class="text-muted"><span id="chars">100</span> کارکتر مانده</small></div>*@
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="terms-accept">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="terms_accept">
                                        <label for="terms_accept">من با تمامی <a asp-area="" asp-controller="Rules" asp-action="Comment">شرایط و مقررات موافقم</a></label>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-section">
                                <button onclick="AddNewComment()" type="submit" class="btn btn-primary submit-btn">افزودن نظر</button>
                            </div>
                            <!-- /Write Review Form -->

                        </div>
                        <!-- /Write Review -->

                    </div>
                    <!-- /Reviews Content -->
                    <!-- Business Hours Content -->
                    <div role="tabpanel" id="doc_business_hours" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">

                                @if (Model.ExpertDetailsForSiteDto.DayDtos.Count > 0)
                                {
                                    <!-- Business Hours Widget -->
                                    <div class="widget business-widget">
                                        <div class="widget-content">
                                            <div class="listing-hours">
                                                <div class="listing-day current">
                                                    <div class="day">امروز<span>@Model.ExpertDetailsForSiteDto.DayDtos.FirstOrDefault()?.date_String</span></div>
                                                    <div class="time-items">
                                                        @if (@Model.ExpertDetailsForSiteDto.DayDtos.FirstOrDefault()?.timeOfDayDtos.Count > 0)
                                                        {
                                                            <span class="open-status"><span class="badge bg-success-light">باز</span></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="open-status"><span class="badge bg-danger-light">بسته</span></span>
                                                        }
                                                        @foreach (var timeOfDay in Model.ExpertDetailsForSiteDto.DayDtos.FirstOrDefault()?.timeOfDayDtos!)
                                                        {
                                                            <span class="time">@timeOfDay.start - @timeOfDay.finish</span>
                                                        }
                                                    </div>
                                                </div>
                                                @foreach (var day in Model.ExpertDetailsForSiteDto.DayDtos.Skip(1))
                                                {
                                                    @if (day.timeOfDayDtos.Count > 0)
                                                    {
                                                        <div class="listing-day">
                                                            <div class="day">@day.dayOfWeek<br /><span>@day.date_String</span></div>
                                                            <div class="time-items">
                                                                @foreach (var timeOfDay in day.timeOfDayDtos)
                                                                {
                                                                    <span class="time">@timeOfDay.start - @timeOfDay.finish</span>
                                                                }
                                                            </div>
                                                        </div>
                                                        <hr />
                                                    }
                                                    else
                                                    {
                                                        <div class="listing-day closed">
                                                            <div class="day">@day.dayOfWeek<br /><span>@day.date_String</span></div>
                                                            <div class="time-items">
                                                                <span class="time"><span class="badge bg-danger-light">بسته</span></span>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Business Hours Widget -->
                                }
                                else
                                {
                                    <div class="widget business-widget">
                                        <div class="widget-content">
                                            <h3>اطلاعاتی جهت نمایش وجود ندارد</h3>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <!-- /Business Hours Content -->

                </div>
            </div>
        </div>
        <!-- /Doctor Details Tab -->
    </div>
</div>
<!-- /Page Content -->

<input type="hidden" value="@ClaimUtility.GetUserId(User).Value" id="userId" name="userId" />

@section Scripts
{
<script>

    var parentId = null;

    function SetParentId(Id) {

        parentId = Id;

        var name = $("#commenterName_" + Id)[0].innerText;

        document.getElementById("nameForComment").innerHTML = name;
    }

    function AddToFavorites(Id) {
        var addToFavoriteForm = new FormData();

        addToFavoriteForm.append("expertInformationId",Id);
        addToFavoriteForm.append("userId",$("#userId").val());

        $.ajax({
            type: "POST",
            url: '/api/Experts/AddToFavorites',
            data: addToFavoriteForm,
            processData: false,
            contentType: false,
            beforeSend: function(x) {
                $('#loading').show();
            },
            success: function(data) {
                if (data.isSuccess === true) {
                    swal.fire('موفق!',
                        data.message,
                        'success').then(function(isConfirm) {
                        location.reload();
                    });
                }
                else {
                    swal.fire('هشدار!',
                        data.message,
                        'warning');
                }
            },
            complete: function() {
                $('#loading').hide();
            },
            fail: function() {
                $('#loading').hide();
            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function AddNewComment() {

        if ($("#terms_accept").is(":checked")) {

            var addNewCommentForm = new FormData();

            var data = {};

            data["message"] = $("#message").val();
            data["typeId"] = 0;
            data["ownerRecordId"] =  @Model.ExpertDetailsForSiteDto.id;
            data["parentId"] =  parentId;

            $.ajax({
                type: "POST",
                url: '/api/Comments/AddNewComments',
                data: JSON.stringify(data),
                cache: false,
                contentType: 'application/json; charset=utf-8',
                enctype: 'application/json',
                dataType: 'json',
                beforeSend: function(x) {
                    $('#loading').show();
                },
                success: function(data) {
                    if (data.isSuccess === true) {
                        swal.fire('موفق!',
                            data.message,
                            'success').then(function(isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swal.fire('هشدار!',
                            data.message,
                            'warning');
                    }
                },
                complete: function() {
                    $('#loading').hide();
                },
                fail: function() {
                    $('#loading').hide();
                },
                error: function(request, status, error) {
                    alert(request.responseText);
                }
            });
        } else {

            swal.fire('هشدار!',
                "لطفا تیک شرایط و مقررات را بزنید",
                'warning');

            return;
        }
    }


</script>
}
