@using CR.Common.Convertor
@model CR.Core.DTOs.Experts.ExpertDetailsForReservationDto
@{
}

<link rel="stylesheet" href="~/assets/css/Reservation.css" />

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">رزرو نوبت</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">رزرو نوبت</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="booking-doc-info">
                            <a href="doctor-profile.html" class="booking-doc-img">
                                <img src="~/@Model.IconSrc" alt="User Image">
                            </a>
                            <div class="booking-info col-md-8">
                                <h4><a href="doctor-profile.html">متخصص @Model.FullName</a></h4>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">35</span>
                                </div>
                                <p class="doc-department"><img src="~/@Model.SpecialitySrc" class="img-fluid" alt="Speciality">‌@Model.Speciality</p>
                                <p id="phoneCallPrice" class="text-muted mb-0" style="visibility: hidden"><i class="far fa-money-bill-alt"></i> نرخ نوبت تلفنی (ساعتی) : @Model.phonePrice?.ToString("n0") تومان</p>
                                <p id="voiceCallPrice" class="text-muted mb-0" style="visibility: hidden"><i class="far fa-money-bill-alt"></i> نرخ نوبت صوتی (ساعتی) : @Model.voicePrice?.ToString("n0") تومان</p>
                                <p id="textCallPrice" class="text-muted mb-0" style="visibility: hidden"><i class="far fa-money-bill-alt"></i> نرخ نوبت متنی (ساعتی) : @Model.textPrice?.ToString("n0") تومان</p>
                            </div>
                            <div class="booking-info">
                                <form asp-action="Reservation" asp-controller="Experts" method="post">
                                    <div class="form-group">
                                        <label>تاریخ نوبت</label>
                                        <div class="cal-icon">
                                            <input type="text" class="form-control datetimepicker" id="passedDate" name="passedDate">
                                            <input type="hidden" value="@Model.ExpertInformationId" id="expertInformationId" name="expertInformationId" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="submit-section submit-btn-bottom">
                                            <button type="submit" class="btn btn-primary submit-btn">اعمال تاریخ</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="row">

                    </div>*@
                <!-- Schedule Widget -->
                <div class="card booking-schedule schedule-widget">
                    <!-- Schedule Header -->
                    <div class="schedule-header">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="wrapper" style="margin-right:31%" id="usesWrapper">
                                </div>
                                <div class="wrapper" style="margin-right: 31%">
                                    <input onclick="GetSpecificTimings(0)" type="radio" name="select" id="option-1" value="0" checked>
                                    <input onclick="GetSpecificTimings(1)" type="radio" name="select" id="option-2" value="1">
                                    <input onclick="GetSpecificTimings(2)" type="radio" name="select" id="option-3" value="2">
                                    <label for="option-1" class="option option-1">
                                        <span>کوتاه مدت</span>
                                    </label>
                                    <label for="option-2" class="option option-2">
                                        <span>میان مدت</span>
                                    </label>
                                    <label for="option-3" class="option option-3">
                                        <span>بلند مدت</span>
                                    </label>
                                </div>
                                <hr />
                                <!-- Day Slot -->
                                <div class="day-slot">
                                    @if (Model.ThisDate == null)
                                    {
                                        <div class="col-12 col-sm-4 col-md-6">
                                            <h4 class="mb-1">تاریخ انتخاب شده : @DateConvertor.GetDayOfWeek(@DateTime.Now) @DateTime.Now.ToShamsi()</h4>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-12 col-sm-4 col-md-6">
                                            <h4 class="mb-1">تاریخ انتخاب شده : @DateConvertor.GetDayOfWeek(@DateTime.Now) @DateTime.Now.ToShamsi()</h4>
                                        </div>
                                    }
                                    <ul id="Days">
                                    </ul>
                                </div>
                                <!-- /Day Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Header -->
                    <!-- Schedule Content -->
                    <div class="schedule-cont">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Time Slot -->
                                <div class="time-slot">
                                    <ul class="clearfix" id="timeOfDays">
                                    </ul>
                                </div>
                                <!-- /Time Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Content -->
                    <input type="hidden" value="@Model.ExpertInformationId" id="expertInformationId" />
                </div>
                <!-- /Schedule Widget -->
                <!-- Submit Section -->
                <div class="submit-section proceed-btn text-right">
                    <label>جمع کل مبلغ : </label>
                    <label id="totalAmount"></label>
                    <label> تومان</label>
                </div>
                <div class="submit-section proceed-btn text-right">
                    <a onclick="Checkout()" class="btn btn-primary submit-btn">ادامه فرایند خرید</a>
                </div>
                <!-- /Submit Section -->

            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->
@section Scripts
{
<script>
    var SumOfPrices = 0;
    var timeOfDayId = 0;
    var price = 0;
    var callingType = null;

    $(document).ready(function () {

        GetSpecificTimings(0);
        GetExpertCallUses();
    });

    function SetCallingType(CT) {

        callingType = CT;
        var els = document.querySelectorAll('.timing.selected');
        for (var i = 0; i < els.length; i++) {
            els[i].classList.remove('selected');
        }
        SumOfPrices = 0;
        $("#totalAmount").html(SumOfPrices);
    }

    function SetId(id) {
        timeOfDayId = id;
        if ($("#timeOfDay_" + id).hasClass("selected") === false) {

            if (callingType == null) {
                swal.fire('هشدار!',
                    'لطفا نوع ارتباط را انتخاب کنید',
                    'warning');
                return;
            }

            $("#timeOfDay_" + id).addClass("selected");

            var data = {};
            data["callingType"] = callingType;
            data["timeOfDayId"] = id;

            $.ajax({
                type: "POST",
                url: '/api/Reservation/GetTimeOfDayPrice',
                data: JSON.stringify(data),
                dataType: "json",
                cache: false,
                contentType: "application/json; charset=utf-8",
                enctype: 'application/json',
                beforeSend: function(x) {
                    $('#loading').show();
                },
                success: function(response) {

                    var data = response.data;
                    price = data;
                    SumOfPrices = SumOfPrices + data;
                    var sumOfPricesString = SumOfPrices.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $("#totalAmount").html(sumOfPricesString);

                },
                complete: function() {
                    $('#loading').hide();
                },
                fail: function() {
                    $('#loading').hide();
                },
                error: function(request, status, error) {
                    alert(request.responseText);
                }
            });

        } else {

            $("#timeOfDay_" + id).removeClass("selected");

            var data2 = {};
            data2["callingType"] = callingType;
            data2["timeOfDayId"] = id;

            $.ajax({
                type: "POST",
                url: '/api/Reservation/GetTimeOfDayPrice',
                data: JSON.stringify(data2),
                dataType: "json",
                cache: false,
                contentType: "application/json; charset=utf-8",
                enctype: 'application/json',
                beforeSend: function(x) {
                    $('#loading').show();
                },
                success: function(response) {

                    var data = response.data;
                    price = data;
                    SumOfPrices = SumOfPrices - data;
                    var sumOfPricesString = SumOfPrices.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    $("#totalAmount").html(sumOfPricesString);

                },
                complete: function() {
                    $('#loading').hide();
                },
                fail: function() {
                    $('#loading').hide();
                },
                error: function(request, status, error) {
                    alert(request.responseText);
                }
            });

            var sumOfPricesString = SumOfPrices.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $("#totalAmount").html(sumOfPricesString);
        }
    }

    function Checkout() {

        var requests = GetTimeOfDays();

        if (requests.length === 0) {
            swal.fire('هشدار!',
                'لطفا یک زمانبندی را انتخاب کنید',
                'warning');
            return;
        }

        console.log(requests);

        var postData = {
            'requests' : requests
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Index", "Checkout")',
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            data: postData,
            success: function(data) {
                if (data.isSuccess === true) {
                    window.location.href = "/Payment?factorNumber=" + data.data;
                } 
                else {
                    swal.fire('هشدار!',
                        data.message,
                        'warning');
                }
            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function GetSpecificTimings(TT) {

        var data = {};
        data["timingType"] = TT;
        data["expertInformationId"] = Number($("#expertInformationId").val());
        SumOfPrices = 0;
        $("#totalAmount").html(0);
        $.ajax({
            type: "POST",
            url: '/api/Reservation/GetDetails',
            data: JSON.stringify(data),
            dataType: "json",
            cache: false,
            contentType: "application/json; charset=utf-8",
            enctype: 'application/json',
            beforeSend: function(x) {
                $('#loading').show();
            },
            success: function(response) {
                var body1 = "";
                var body2 = "";

                var data = response.data;

                for (let i = 0; i < data.length; i++) {
                    body1 += '<li>';
                    body1 += '<span>' + data[i].dayOfWeek + '</span>';
                    body1 += '<span class="slot-date">' + data[i].date_String + '</span>';
                    body1 += '</li>';
                }
                for (let i = 0; i < data.length; i++) {
                    body2 += '<li>';
                    if (data[i].timeOfDayDtos.length > 0) {
                        for (let j = 0; j < data[i].timeOfDayDtos.length; j++) {
                            body2 += '<a class="timing" onclick="SetId(' + data[i].timeOfDayDtos[j].id + ')" id="timeOfDay_' + data[i].timeOfDayDtos[j].id +'" name="timeDay">';
                            body2 += '<span>' + data[i].timeOfDayDtos[j].start + ' - ' +data[i].timeOfDayDtos[j].finish +'</span>';
                            body2 += '</a>';
                        }
                    }else {
                        body2 += '<button type="button" class="btn btn-block btn-outline-danger active">نوبتی وجود ندارد</button>';
                    }
                    body2 += '</li>';
                }

                $("#Days").html(body1);
                $("#timeOfDays").html(body2);
            },
            complete: function() {
                $('#loading').hide();
            },
            fail: function() {
                $('#loading').hide();
            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function GetExpertCallUses() {

        var data = {};
        data["expertInformationId"] = Number($("#expertInformationId").val());

        $.ajax({
            type: "POST",
            url: '/api/Reservation/GetExpertCallUses',
            data: JSON.stringify(data),
            dataType: "json",
            cache: false,
            contentType: "application/json; charset=utf-8",
            enctype: 'application/json',
            beforeSend: function(x) {
                $('#loading').show();
            },
            success: function(response) {

                var data = response.data;
                var body3 = "";

                if (data.usePhoneCall === true) {
                    body3 += '<input onclick="SetCallingType(0)" type="radio" name="call" id="phone" value="0"/>';
                    body3 += '<label for="phone" class="option phone">';
                    body3 += '<span>تلفنی</span>';
                    body3 += '</label>';
                    document.getElementById("phoneCallPrice").style.visibility = "visible";

                }
                if (data.useVoiceCall === true) {
                    body3 += '<input onclick="SetCallingType(1)" type="radio" name="call" id="voice" value="0"/>';
                    body3 += '<label for="voice" class="option voice">';
                    body3 += '<span>صوتی</span>';
                    body3 += '</label>';
                    document.getElementById("voiceCallPrice").style.visibility = "visible";
                }
                if (data.useTextCall === true) {
                    body3 += '<input onclick="SetCallingType(2)" type="radio" name="call" id="text" value="0"/>';
                    body3 += '<label for="text" class="option text">';
                    body3 += '<span>متنی</span>';
                    body3 += '</label>';
                    document.getElementById("textCallPrice").style.visibility = "visible";
                }
                $("#usesWrapper").html(body3);
            },
            complete: function() {
                $('#loading').hide();
            },
            fail: function() {
                $('#loading').hide();
            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function GetTimeOfDays() {
        var timeOfDayIds = [];

        timeOfDayIds = $('a[name^=timeDay]').map(function(idx, elem) {
            if ($(elem).hasClass("selected") === true) {
                return Number($(elem).attr("id").replace("timeOfDay_",""));
            }
        }).get();

        var appointments = [];

        for (let  i = 0; i < timeOfDayIds.length; i++) {

            appointments.push({timeOfDayId : timeOfDayIds[i], expertInformationId: Number($("#expertInformationId").val()), callingType: callingType});

        }

        return appointments;
    }

</script>
}
