@using CR.Presentation.Areas.AdminPanel.Models.ViewModels
@model AdminDashboardViewModel
@{
}
<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">خوش آمدی ادمین</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">دشبرد</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon text-primary border-primary">
                        <i class="fe fe-users"></i>
                    </span>
                    <div class="dash-count">
                        <h3>@Model.StatisticsDto.ExpertCount</h3>
                    </div>
                </div>
                <div class="dash-widget-info">
                    <h6 class="text-muted">پزشکان</h6>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-primary w-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon text-success">
                        <i class="fe fe-credit-card"></i>
                    </span>
                    <div class="dash-count">
                        <h3>@Model.StatisticsDto.ConsumerCount</h3>
                    </div>
                </div>
                <div class="dash-widget-info">

                    <h6 class="text-muted">مراجعان</h6>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-success w-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon text-danger border-danger">
                        <i class="fe fe-money"></i>
                    </span>
                    <div class="dash-count">
                        <h3>@Model.StatisticsDto.AppointmentCount</h3>
                    </div>
                </div>
                <div class="dash-widget-info">

                    <h6 class="text-muted">رزرو نوبت</h6>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-danger w-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon text-warning border-warning">
                        <i class="fe fe-folder"></i>
                    </span>
                    <div class="dash-count">
                        <h3>@Model.StatisticsDto.Income</h3>
                    </div>
                </div>
                <div class="dash-widget-info">

                    <h6 class="text-muted"> درآمد </h6>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-warning w-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6">

        <!-- Sales Chart -->
        <div class="card card-chart">
            <div class="card-header">
                <h4 class="card-title"> درآمد </h4>
            </div>
            <div class="card-body">
                <div id="morrisArea"></div>
            </div>
        </div>
        <!-- /Sales Chart -->

    </div>
    <div class="col-md-12 col-lg-6">

        <!-- Invoice Chart -->
        <div class="card card-chart">
            <div class="card-header">
                <h4 class="card-title"> وضعیت </h4>
            </div>
            <div class="card-body">
                <div id="morrisLine"></div>
            </div>
        </div>
        <!-- /Invoice Chart -->

    </div>
</div>
<div class="row">
    <div class="col-md-6 d-flex">

        <!-- Recent Orders -->
        <div class="card card-table flex-fill">
            <div class="card-header">
                <h4 class="card-title">لیست پزشکان</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>نام پزشک</th>
                                <th>تخصص</th>
                                <th>درآمد</th>
                                <th>نظرات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var expert in Model.LatestExpertForAdminDtos)
                            {
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/AdminTemplate/assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"></a>
                                            <a asp-controller="Experts" asp-action="ExpertDetails" asp-route-id="@expert.id">@expert.firstName @expert.lastName</a>
                                        </h2>
                                    </td>
                                    <td>@expert.speciality</td>
                                    <td>@expert.income تومان</td>
                                    <td>
                                        <i class="fe fe-star text-warning"></i>
                                        <i class="fe fe-star text-warning"></i>
                                        <i class="fe fe-star text-warning"></i>
                                        <i class="fe fe-star text-warning"></i>
                                        <i class="fe fe-star-o text-secondary"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Recent Orders -->

    </div>
    <div class="col-md-6 d-flex">

        <!-- Feed Activity -->
        <div class="card  card-table flex-fill">
            <div class="card-header">
                <h4 class="card-title">لیست بیماران</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>نام مراجعه کننده</th>
                                <th>شماره</th>
                                <th>آخرین ویزیت</th>
                                <th>پرداخت شده</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var consumer in Model.LatestConsumerForAdminDtos)
                            {
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/AdminTemplate/assets/img/patients/patient1.jpg" alt="User Image"></a>
                                            <a asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-id="@consumer.id">@consumer.firstName @consumer.lastName</a>
                                        </h2>
                                    </td>
                                    <td>@consumer.phoneNumber</td>
                                    <td>@consumer.lastVisit</td>
                                    <td class="text-right">@consumer.paidAmount تومان</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Feed Activity -->

    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <!-- Recent Orders -->
        <div class="card card-table">
            <div class="card-header">
                <h4 class="card-title">لیست رزروها</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>نام پزشک</th>
                                <th>تخصص</th>
                                <th>نام مراجعه کننده</th>
                                <th>وقت ویزیت</th>
                                <th class="text-right">مقدار</th>
                            </tr>
                        </thead>
                        <tbody>
                           @if (Model.AppointmentForAdminDtos.Count > 0)
                           {
                               @foreach(var appointment in Model.AppointmentForAdminDtos)
                               {
                                   <tr>
                                       <td>
                                           <h2 class="table-avatar">
                                               <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@appointment.ExpertIconSrc" alt="User Image"></a>
                                               <a href="profile.html">@appointment.ExpertFullName</a>
                                           </h2>
                                       </td>
                                       <td>@appointment.Speciality</td>
                                       <td>
                                           <h2 class="table-avatar">
                                               <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@appointment.ConsumerIconSrc" alt="User Image"></a>
                                               <a href="profile.html">@appointment.ConsumerFullName </a>
                                           </h2>
                                       </td>
                                       <td>@appointment.AppointmentDate<span class="text-primary d-block">@appointment.AppointmentTime</span></td>
                                       <td class="text-right">
                                           @appointment.AppointmentPrice تومان
                                       </td>
                                   </tr>
                               }
                           }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Recent Orders -->

    </div>
</div>