@addTagHelper *, LazZiya.TagHelpers
@using CR.Common.Utilities
@using CR.DataAccess.Enums
@model CR.Core.DTOs.ResultDTOs.FinancialTransactions.ResultGetCheckoutFinancialTransactionsDto
<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">گزارش تسویه حساب ها </h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">داشبورد</a></li>
                <li class="breadcrumb-item active">گزارش تسویه حساب ها </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center">دریافت کننده</th>
                                <th class="text-center"> مبلغ کل </th>
                                <th class="text-center"> تاریخ ایجاد </th>
                                <th class="text-center"> وضعیت </th>
                                <th class="text-center"> عملیات </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in Model.CheckoutFinancialTransactionForAdminDtos)
                            {
                                <tr>
                                    <td class="text-center">
                                        <h2 class="table-avatar">
                                            <a asp-controller="Experts" asp-action="ExpertDetails" asp-route-id="@transaction.ReceiverId" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@transaction.ReceiverIconSrc" alt="Receiver"></a>
                                            <a asp-controller="Experts" asp-action="ExpertDetails" asp-route-id="@transaction.ReceiverId">@transaction.ReceiverFullName </a>
                                        </h2>
                                    </td>
                                    <td class="text-center">@transaction.Price تومان</td>
                                    <td class="text-center">@transaction.CreateDate</td>
                                    <td class="text-center">
                                        @if (transaction.TransactionStatus == TransactionStatus.UnDefined.GetDisplayName())
                                        {
                                            <span class="badge badge-pill bg-warning inv-badge">@transaction.TransactionStatus</span>
                                        }
                                        else if (transaction.TransactionStatus == TransactionStatus.Successful.GetDisplayName())
                                        {
                                            <span class="badge badge-pill bg-success inv-badge">@transaction.TransactionStatus</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-pill bg-danger inv-badge">@transaction.TransactionStatus</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <div class="actions">
                                            <a onclick="SetId(@transaction.Id)" class="btn btn-sm bg-success-light" data-toggle="modal" href="#change_transaction_status">
                                                <i class="fe fe-check-verified"></i> تغیر وضعیت
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center">
            <paging total-records="Model.RowCount"
                    page-no="Model.CurrentPage"
                    page-size="Model.PageSize"
                    show-prev-next="true"
                    show-total-pages="false"
                    show-total-records="false"
                    show-page-size-nav="true"
                    show-first-numbered-page="true"
                    show-last-numbered-page="true"
                    query-string-key-page-no="Page"
                    query-string-key-page-size="PageSize"
                    gap-size="2">
            </paging>
        </div>
    </div>
</div>

<!-- Edit Details Modal -->
<div class="modal fade" id="change_transaction_status" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">تغیر وضعیت تراکنش</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <button onclick="ChangeStatus(2)" id="accepted" type="button" class="btn btn-block btn-outline-success active">انجام شد</button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <button onclick="ChangeStatus(1)" id="denied" type="button" class="btn btn-block btn-outline-danger active">انجام نشد</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Details Modal -->
@section Scripts
{
<script>

    var id = 0;

    function SetId(Id) {
        id = Id;
    }

    function ChangeStatus(Status) {
        swal.fire({
            title: 'تغیر وضعیت تراکنش',
            text: "مدیریت گرامی از تغیر وضعیت تراکنش مطمئن هستید؟",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#7cacbe',
            confirmButtonText: 'تایید',
            cancelButtonText: 'انصراف'
        }).then((result) => {
            if (result.value) {
                var data = {};
                data["transactionId"] = id;
                data["transactionStatus"] = Status;
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: "POST",
                    enctype: 'application/json',
                    url: '/api/CheckoutFinancialTransactions/ChangeStatus',
                    data: JSON.stringify(data),
                    success: function(data) {
                        if (data.isSuccess === true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function(isConfirm) {
                                location.reload();
                            });
                        } else {
                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }

                });
            }
        });
    }
</script>
}
