@addTagHelper *, LazZiya.TagHelpers
@model CR.Core.DTOs.ResultDTOs.ResultGetConsumersForExpertPanelDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">تنظیمات پروفایل</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">تنظیمات پروفایل</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                <!-- Profile Sidebar -->
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-doc-img">
                                <img src="~/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>پزشک دارن الدر</h3>

                                <div class="patient-details">
                                    <h5 class="mb-0"> BDS ، MDS - جراحی دهان و فک و صورت </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li class="active">
                                    <a asp-controller="Home" asp-action="Index">
                                        <i class="fas fa-columns"></i>
                                        <span>داشبورد</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Appointments" asp-action="Index">
                                        <i class="fas fa-calendar-check"></i>
                                        <span>نوبت‌دهی</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Consumers" asp-action="Index" asp-area="ExpertPanel">
                                        <i class="fas fa-user-injured"></i>
                                        <span>مراجعه‌کنندگان من</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Availabilities" asp-action="Index" asp-area="ExpertPanel">
                                        <i class="fas fa-hourglass-start"></i>
                                        <span>زمان‌بندی</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <i class="fas fa-file-invoice"></i>
                                        <span>صورت‌حساب</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="reviews.html">
                                        <i class="fas fa-star"></i>
                                        <span>نظرات</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="chat-doctor.html">
                                        <i class="fas fa-comments"></i>
                                        <span>پیام‌ها</span>
                                        <small class="unread-msg">23</small>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Profile" asp-action="Index" asp-area="ExpertPanel">
                                        <i class="fas fa-user-cog"></i>
                                        <span>تنظیمات پروفایل</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Index">
                                        <i class="fas fa-lock"></i>
                                        <span>‌تغییر رمز عبور</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Account" asp-action="Logout">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>خروج</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Profile Sidebar -->
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="row row-grid">
                    @if (Model.ConsumerForExpertPanelDtos.Count > 0)
                    {
                        @foreach (var consumer in Model.ConsumerForExpertPanelDtos)
                        {
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="card widget-profile pat-widget-profile">
                                    <div class="card-body">
                                        <div class="pro-widget-content">
                                            <div class="profile-info-widget">
                                                <a asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-consumerId="@consumer.Id" class="booking-doc-img">
                                                    <img src="~/@consumer.IconSrc" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile.html">@consumer.FullName</a></h3>

                                                    <div class="patient-details">
                                                        <h5><b>شناسه مراجعه‌کننده :</b> @consumer.Id</h5>
                                                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> @consumer.City ، @consumer.Province</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="patient-info">
                                            <ul>
                                                <li>شماره تماس <span>@consumer.PhoneNumber</span></li>
                                                <li>سن <span>@consumer.Age سال، @consumer.Gender</span></li>
                                                <li>گروه خونی<span>@consumer.BloodType</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h3>اطلاعاتی جهت نمایش وجود ندارد</h3>
                    }
                </div>
                <div class="text-center">
                    <paging total-records="Model.RowCount"
                            page-no="Model.CurrentPage"
                            page-size="Model.PageSize"
                            show-prev-next="true"
                            show-total-pages="false"
                            show-total-records="false"
                            show-page-size-nav="true"
                            show-first-numbered-page="true"
                            show-last-numbered-page="true"
                            query-string-key-page-no="Page"
                            query-string-key-page-size="PageSize"
                            gap-size="2">
                    </paging>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
