@addTagHelper *, LazZiya.TagHelpers
@using CR.Common.Utilities
@using CR.DataAccess.Enums
@model CR.Core.DTOs.ResultDTOs.FinancialTransactions.ResultGetExpertFinancialTransactionsDto

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">کیف پول/تراکنش ها</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">کیف پول/تراکنش ها</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                <partial name="ExpertPnelSideBarMenu" />
            </div>
            <!-- / Profile Sidebar -->
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">موجودی کیف پول : @Model.WalletBalance.ToString("n0") تومان</h4>
                        </div>
                        <div class="card-body btn-showcase">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#Checkout" data-original-title="" title="">درخواست تسویه حساب</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body pt-0">
                        <!-- Tab Menu -->
                        <nav class="user-tabs mb-4">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#pat_appointments" data-toggle="tab">‌تراکنش های مالی</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="tab-content pt-0">
                            <!-- FinancialTransactions Tab -->
                            <div id="pat_appointments" class="tab-pane fade show active">
                                <div class="card card-table mb-0">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-center mb-0">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center"> پرداخت کننده </th>
                                                        <th class="text-center">مبلغ کل </th>
                                                        <th class="text-center"> تاریخ ایجاد </th>
                                                        <th class="text-center"> نوع تراکنش </th>
                                                        <th class="text-center"> وضعیت </th>
                                                        <th class="text-center"> عملیات </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var transaction in Model.ExpertFinancialTransactionDtos)
                                                    {
                                                        <tr>
                                                            <td class="text-center">
                                                                <h2 class="table-avatar">
                                                                    <a class="avatar avatar-sm mr-2">
                                                                        <img class="avatar-img rounded-circle" src="~/@transaction.AdminIconSrc" alt="User Image">
                                                                    </a>
                                                                    <a>@transaction.AdminFullName</a>
                                                                </h2>
                                                            </td>
                                                            <td class="text-center">@transaction.Price تومان</td>
                                                            <td class="text-center">@transaction.CreateDate</td>
                                                            <td class="text-center">
                                                                @if (transaction.TransactionType == TransactionType.ChargeExpertWallet.GetDisplayName())
                                                                {
                                                                    <span class="badge badge-pill bg-warning-light">@transaction.TransactionType</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge badge-pill bg-purple-light">@transaction.TransactionType</span>
                                                                }
                                                            </td>
                                                            <td class="text-center">
                                                                @if (transaction.TransactionStatus == TransactionStatus.UnDefined.GetDisplayName())
                                                                {
                                                                    <span class="badge badge-pill bg-warning-light">@transaction.TransactionStatus</span>
                                                                }
                                                                else if (transaction.TransactionStatus == TransactionStatus.Successful.GetDisplayName())
                                                                {
                                                                    <span class="badge badge-pill bg-success-light">@transaction.TransactionStatus</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge badge-pill bg-danger-light">@transaction.TransactionStatus</span>
                                                                }
                                                            </td>
                                                            @if (transaction.TransactionType == TransactionType.Checkout.GetDisplayName())
                                                            {
                                                                <td class="text-center">
                                                                    <div class="actions">
                                                                        <a onclick="ShowDetails(@transaction.Id)" class="btn btn-sm bg-primary-light" data-toggle="modal">
                                                                            <i class="fe fe-eye"></i> نمایش توضیحات
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <paging total-records="Model.RowCount"
                                            page-no="Model.CurrentPage"
                                            page-size="Model.PageSize"
                                            show-prev-next="true"
                                            show-total-pages="false"
                                            show-total-records="false"
                                            show-page-size-nav="true"
                                            show-first-numbered-page="true"
                                            show-last-numbered-page="true"
                                            query-string-key-page-no="Page"
                                            query-string-key-page-size="PageSize"
                                            gap-size="2">
                                    </paging>
                                </div>
                            </div>
                            <!-- /FinancialTransactions Tab -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
@section Scripts
{
<script src="~/assets/js/ExpertPanel/FinancialTransactions/FinancialTransactions.js"></script>
<script src="~/assets/js/ExpertPanel/layout.js"></script>

<script>
    function Checkout(){

        var checkoutForm = new FormData();

        checkoutForm.append("price",Number($("#price").cleanVal()));

        $.ajax({
            type: "POST",
            url: '/api/FinancialTransactions/RequestCheckout',
            data: checkoutForm,
            processData: false,
            contentType: false,
            beforeSend: function(x) {
                $('#loading').show();
            },
            success: function(response) {
                if (response.isSuccess === true) {
                    swal.fire(
                        'موفق!',
                        response.message,
                        'success'
                    ).then(function (isConfirm) {
                        location.reload();
                    });
                }
                else {
                    swal.fire('هشدار!',
                        response.message,
                        'warning');
                }
            },
            complete: function() {
                $('#loading').hide();
            },
            fail: function() {
                $('#loading').hide();
            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function ShowDetails(id) {

        var data = {};
        data["id"] = id;

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: "POST",
            enctype: 'application/json',
            url: '/api/CheckoutFinancialTransactions/GetDescriptionForExpert',
            data: JSON.stringify(data),
            success: function(response) {
                var data = response;

                var body = '';

                body += '<ul class="info-details">';
                body += '<li>';
                body += '<span class="title">متن توضیحات : </span>';
                body += '<span class="text">' + data + '</span>';
                body += '</li>';
                body += '</ul>';

                $("#comment_details #detailsBody").html(body);
                $("#comment_details").modal("show");

            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }
</script>

}

@section Modal
{
<div class="modal fade" id="Checkout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">تسویه حساب</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" data-original-title="" title=""><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="recipient-name">مبلغ به تومان : </label>
                        <input class="form-control money2" type="text" data-original-title="" id="price" name="price">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" data-original-title="" title="">بستن</button>
                <button onclick="Checkout()" class="btn btn-primary" type="button" data-original-title="" title="">شارژ</button>
            </div>
        </div>
    </div>
</div>
}

@section AddModal
{
    <!-- Transaction Details Modal -->
    <div class="modal fade custom-modal" id="comment_details">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">توضیحات تراکنش</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="detailsBody">
                </div>
            </div>
        </div>
    </div>
    <!-- /Transaction Details Modal -->
}

@section Footer{
    <partial name="Footer"/>
}