@addTagHelper *, LazZiya.TagHelpers
@using CR.DataAccess.Enums
@using CR.Common.Utilities
@model CR.Core.DTOs.ResultDTOs.Appointments.ResultGetAllAppointmentsForAdminPanelDto
@{
}
<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">نوبت‌دهی</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">دشبرد</a></li>
                <li class="breadcrumb-item active">نوبت‌دهی</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->
<div class="row">
    <div class="col-md-12">
        <!-- Recent Orders -->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>نام مشاور</th>
                                <th>تخصص</th>
                                <th>نام کاربر</th>
                                <th>وقت ویزیت</th>
                                <th class="text-center">هزینه مشاوره</th>
                                <th class="text-center">وضعیت فاکتور</th>
                                <th class="text-right">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var appointment in Model.AppointmentForAdminDtos)
                            {
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a asp-controller="Experts" asp-action="ExpertDetails" asp-route-id="@appointment.ExpertId" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@appointment.ConsumerIconSrc" alt="User Image"></a>
                                            <a asp-controller="Experts" asp-action="ExpertDetails" asp-route-id="@appointment.ExpertId">@appointment.ConsumerFullName </a>
                                        </h2>
                                    </td>
                                    <td>@appointment.Speciality</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-id="@appointment.ConsumerId" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@appointment.ExpertIconSrc" alt="User Image"></a>
                                            <a asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-id="@appointment.ConsumerId">@appointment.ExpertFullName</a>
                                        </h2>
                                    </td>
                                    <td> @appointment.AppointmentDate <span class="text-primary d-block">@appointment.AppointmentTime</span></td>
                                    @if (appointment.AppointmentPrice == "0")
                                    {
                                        <td class="text-center">
                                            رایگان
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            @appointment.AppointmentPrice تومان
                                        </td>
                                    }

                                    <td class="text-center">
                                        @if (appointment.FactorStatus == FactorStatus.Waiting.GetDisplayName())
                                        {
                                            <span class="badge badge-pill bg-warning inv-badge">@appointment.FactorStatus</span>
                                        }
                                        else if (appointment.FactorStatus == FactorStatus.SuccessfulPayment.GetDisplayName())
                                        {
                                            <span class="badge badge-pill bg-success inv-badge">@appointment.FactorStatus</span>
                                        }
                                        else if (appointment.FactorStatus == FactorStatus.Declined.GetDisplayName())
                                        {
                                            <span class="badge badge-pill bg-primary inv-badge">@appointment.FactorStatus</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-pill bg-danger inv-badge">@appointment.FactorStatus</span>
                                        }
                                    </td>

                                    @if (appointment.FactorStatus == FactorStatus.SuccessfulPayment.GetDisplayName())
                                    {
                                        <td class="text-center">
                                            <a onclick="Decline(@appointment.FactorId,@appointment.AppointmentPrice.Replace(",",""),@appointment.ConsumerId)" class="btn btn-sm bg-danger-light">
                                                <i class="fe fe-trash"></i> لغو تراکنش
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Recent Orders -->
        <div class="text-center">
            <paging total-records="Model.RowCount"
                    page-no="Model.CurrentPage"
                    page-size="Model.PageSize"
                    show-prev-next="true"
                    show-total-pages="false"
                    show-total-records="false"
                    show-page-size-nav="true"
                    show-first-numbered-page="true"
                    show-last-numbered-page="true"
                    query-string-key-page-no="Page"
                    query-string-key-page-size="PageSize"
                    gap-size="2">
            </paging>
        </div>
    </div>
</div>

@section Scripts
{
<script>

    function Decline(factorId,price,payerId) {

        swal.fire({
            title: 'بازگشت وجه',
            text: "مدیریت گرامی از بازگشت وجه مطمئن هستید؟",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#7cacbe',
            confirmButtonText: 'تایید',
            cancelButtonText: 'انصراف'
        }).then((result) => {
            if (result.value) {
                var data = {};

                data["factorId"] = factorId;
                data["price"] = Number(price);
                data["payerId"] = payerId;

                $.ajax({
                    type: "POST",
                    url: '/api/FinancialTransactions/Decline',
                    data: JSON.stringify(data),
                    dataType: "json",
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    enctype: 'application/json',
                    beforeSend: function(x) {
                        $('#loading').show();
                    },
                    success: function(response) {
                        if (response.isSuccess === true) {
                            swal.fire('موفق!',
                                response.message,
                                'success').then(function(isConfirm) {
                                location.reload();
                            });
                        }else {
                            swal.fire('هشدار!',
                                response.message,
                                'warning');
                        }
                    },
                    complete: function() {
                        $('#loading').hide();
                    },
                    fail: function() {
                        $('#loading').hide();
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
        });

    }
</script>
}
