@addTagHelper *, LazZiya.TagHelpers
@using CR.DataAccess.Enums
@using CR.Common.Utilities
@model CR.Core.DTOs.ResultDTOs.Appointments.ResultGetAllAppointmentsForAdminPanelDto
@{
}
<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">نوبت‌دهی</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">داشبورد</a></li>
                <li class="breadcrumb-item active">نوبت‌ ها</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->
<div class="row">
    <div class="col-md-12">
        <!-- Recent Orders -->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>نام مشاور</th>
                                <th>تخصص</th>
                                <th>نام کاربر</th>
                                <th>وقت ویزیت</th>
                                <th class="text-center">هزینه مشاوره</th>
                                <th class="text-center">وضعیت نوبت</th>
                                <th class="text-center">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var appointment in Model.AppointmentForAdminDtos)
                            {
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a asp-controller="Experts" asp-action="ExpertDetails" asp-route-id="@appointment.ExpertId" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@appointment.ConsumerIconSrc" alt="User Image"></a>
                                            <a asp-controller="Experts" asp-action="ExpertDetails" asp-route-id="@appointment.ExpertId">@appointment.ConsumerFullName </a>
                                        </h2>
                                    </td>
                                    <td>@appointment.Speciality</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-id="@appointment.ConsumerId" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@appointment.ExpertIconSrc" alt="User Image"></a>
                                            <a asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-id="@appointment.ConsumerId">@appointment.ExpertFullName</a>
                                        </h2>
                                    </td>
                                    <td> @appointment.AppointmentDate <span class="text-primary d-block">@appointment.AppointmentTime</span></td>
                                    @if (appointment.AppointmentPrice == "0")
                                    {
                                        <td class="text-center">
                                            رایگان
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            @appointment.AppointmentPrice تومان
                                        </td>
                                    }
                                    <td class="text-center">
                                        @if (appointment.AppointmentStatus == AppointmentStatus.Waiting.GetDisplayName())
                                        {
                                            <span class="badge badge-pill bg-warning inv-badge">@appointment.AppointmentStatus</span>
                                        }
                                        else if (appointment.AppointmentStatus == AppointmentStatus.Completed.GetDisplayName())
                                        {
                                            <span class="badge badge-pill bg-success inv-badge">@appointment.AppointmentStatus</span>
                                        }
                                        else if (appointment.AppointmentStatus == AppointmentStatus.NotDone.GetDisplayName())
                                        {
                                            <span class="badge badge-pill bg-danger inv-badge">@appointment.AppointmentStatus</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-pill bg-danger inv-badge">@appointment.AppointmentStatus</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (appointment.AppointmentStatus == AppointmentStatus.Waiting.GetDisplayName())
                                        {
                                            <a onclick="DeclineAppointment(@appointment.Id,@appointment.ConsumerId)" class="btn btn-sm bg-danger-light">
                                                <i class="fas fa-print"></i> لغو نوبت
                                            </a>
                                        }
                                        <a onclick="ShowDetails(@appointment.Id)" class="btn btn-sm bg-primary-light">
                                            <i class="fas fa-print"></i> جزئیات
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Recent Orders -->
        <div class="text-center">
            <paging total-records="Model.RowCount"
                    page-no="Model.CurrentPage"
                    page-size="Model.PageSize"
                    show-prev-next="true"
                    show-total-pages="false"
                    show-total-records="false"
                    show-page-size-nav="true"
                    show-first-numbered-page="true"
                    show-last-numbered-page="true"
                    query-string-key-page-no="Page"
                    query-string-key-page-size="PageSize"
                    gap-size="2">
            </paging>
        </div>
    </div>
</div>

@section Scripts
{
<script>
        function DeclineAppointment(appointmentId,receiverId) {
          swal.fire({
            title: 'مشاور گرامی از لغو نوبت مطمئن هستید؟',
            text: "پس از تایید تمام هزینه مبلغ به کیف پول کاربر منتقل می شود",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#7cacbe',
            confirmButtonText: 'تایید',
            cancelButtonText: 'انصراف'
        }).then((result) => {
            if (result.value) {
                var data = {};

                data["receiverId"] = receiverId;
                data["appointmentId"] = appointmentId;

                $.ajax({
                    type: "POST",
                    url: '/api/FinancialTransactions/DeclineAppointment',
                    data: JSON.stringify(data),
                    dataType: "json",
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    enctype: 'application/json',
                    beforeSend: function(x) {
                        $('#loading').show();
                    },
                    success: function(response) {
                        if (response.isSuccess === true) {
                            swal.fire('موفق!',
                                response.message,
                                'success').then(function(isConfirm) {
                                location.reload();
                            });
                        }else {
                            swal.fire('هشدار!',
                                response.message,
                                'warning');
                        }
                    },
                    complete: function() {
                        $('#loading').hide();
                    },
                    fail: function() {
                        $('#loading').hide();
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
        });
     }

        function ShowDetails(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetails", "Appointments",new { area = "AdminPanel" })',
            data: {id : id},
            dataType: "json",
            success: function(response) {
                var data = response;

                var body = '';

                body += '<ul class="info-details">';
                body += '<li>';
                body += '<div class="details-header">';
                body += '<div class="row">';
                body +='<div class="col-md-6">';
                body += '<span class="title">تاریخ و زمان نوبت:</span>';
                body += '<span class="text">' + data.appointmentDate + " , " + data.appointmentTime + '</span>';
                body += '</div>';
                body += '<div class="col-md-6">';
                body += '<div class="text-right">';
                if (data.appointmentStatus === "در انتظار") {
                    body += '<button type="button" class="btn bg-warning-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                else if (data.appointmentStatus === "انجام شد") {
                    body += '<button type="button" class="btn bg-success-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                else if (data.appointmentStatus === "انجام نشد") {
                    body += '<button type="button" class="btn bg-danger-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                else {
                    body += '<button type="button" class="btn bg-danger-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</li>';
                body += '</br>';
                body += '<li>';
                body += '<span class="title">نوع نوبت:</span>';
                body += '<span class="text">' + data.appointmentType + '</span>';
                body += '</li>';
                body += '</br>';
                body += '<li>';
                body += '<span class="title">وضعیت:</span>';
                body += '<span class="text">' + data.appointmentStatus + '</span>';
                body += '</li>';
                body += '</br>';
                body += '<li>';
                body += '<span class="title">مقدار پرداختی</span>';
                body += '<span class="text">' + data.appointmentPrice + "تومان" + '</span>';
                body += '</li>';
                body += '</ul>';

                $("#appt_details #detailsBody").html(body);
                $("#appt_details").modal("show");

            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }
</script>
}

<!-- Appointment Details Modal -->
<div class="modal fade custom-modal" id="appt_details">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">جزئیات نوبت</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detailsBody">
            </div>
        </div>
    </div>
</div>
<!-- /Appointment Details Modal -->
