@using CR.DataAccess.Entities.Users
@inject Microsoft.AspNetCore.Identity.SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>شبکه یکپارچه چاله چوله</title>

    <link rel="stylesheet" href="~/lib/imageUploader/styles.imageuploader.css" />

    <!-- Favicons -->
    <link type="image/x-icon" href="~/assets/img/favicon-32x32.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-rtl/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-rtl.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <!--persian Datepicker -->
    <link rel="stylesheet" href="~/Jcal/daterangepicker.css" type="text/css">
    <link rel="stylesheet" href="~/Jcal/persian-datepicker.css">

    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fancybox/jquery.fancybox.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

    <link rel="stylesheet" href="~/assets/css/owl-carousel/owl.carousel.min.css">

    @RenderSection("Style",false)

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand logo">
                        <img src="~/assets/img/لوگو.jpeg" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="menu-logo">
                            <img src="~/assets/img/لوگو.jpeg" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active">
                            <a href="/">خانه</a>
                        </li>
                        <li class="has-submenu">
                            <a href="#">مشاوره تحصیلی<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class="has-submenu">
                                    <a href="#">مدرسه</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">ابتدایی</a>
                                            <a href="#">متوسطه اول </a>
                                            <a href="#">متوسطه دوم</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">کنکور</a>
                                    <ul class="submenu">
                                        <li class="has-submenu">
                                            <a href="#">مدرسه</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">ابتدایی</a>
                                                    <a href="#">متوسطه اول </a>
                                                    <a href="#">متوسطه دوم</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">مشورت با رتبه های برتر کنکور</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">ریاضی</a>
                                                    <a href="#">تجربی </a>
                                                    <a href="#">انسانی</a>
                                                    <a href="#">هنر</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">مشورت با مشاوران کنکور</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">ریاضی</a>
                                                    <a href="#">تجربی </a>
                                                    <a href="#">انسانی</a>
                                                    <a href="#">هنر</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">ارشد</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">مهندسی صنایع</a>
                                            <a href="#">مهندسی شیمی </a>
                                            <a href="#">MBA</a>
                                            <a href="#">روانشناسی</a>
                                            <a href="#">مهندسی عمران</a>
                                            <a href="#">معماری</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">دکترا</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">مشاوره کسب و کار<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class="has-submenu">
                                    <a href="#">مدرسه</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">ابتدایی</a>
                                            <a href="#">متوسطه اول </a>
                                            <a href="#">متوسطه دوم</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">کنکور</a>
                                    <ul class="submenu">
                                        <li class="has-submenu">
                                            <a href="#">مدرسه</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">ابتدایی</a>
                                                    <a href="#">متوسطه اول </a>
                                                    <a href="#">متوسطه دوم</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">مشورت با رتبه های برتر کنکور</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">ریاضی</a>
                                                    <a href="#">تجربی </a>
                                                    <a href="#">انسانی</a>
                                                    <a href="#">هنر</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">مشورت با مشاوران کنکور</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">ریاضی</a>
                                                    <a href="#">تجربی </a>
                                                    <a href="#">انسانی</a>
                                                    <a href="#">هنر</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">ارشد</a></li>
                                <li><a href="#">دکترا</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">مشاوره شغلی<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class="has-submenu">
                                    <a href="#">مدرسه</a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">ابتدایی</a>
                                            <a href="#">متوسطه اول </a>
                                            <a href="#">متوسطه دوم</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#">کنکور</a>
                                    <ul class="submenu">
                                        <li class="has-submenu">
                                            <a href="#">مدرسه</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">ابتدایی</a>
                                                    <a href="#">متوسطه اول </a>
                                                    <a href="#">متوسطه دوم</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">مشورت با رتبه های برتر کنکور</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">ریاضی</a>
                                                    <a href="#">تجربی </a>
                                                    <a href="#">انسانی</a>
                                                    <a href="#">هنر</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">مشورت با مشاوران کنکور</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#">ریاضی</a>
                                                    <a href="#">تجربی </a>
                                                    <a href="#">انسانی</a>
                                                    <a href="#">هنر</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">ارشد</a></li>
                                <li><a href="#">دکترا</a></li>
                            </ul>
                        </li>
                        
                         <li class="has-submenu">
                            <a href="#">قوانین و مقررات<i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a asp-area="" asp-controller="Rules" asp-action="Index">قوانین و مقررات کلی</a></li>
                                <li><a asp-area="" asp-controller="Rules" asp-action="Payment">قوانین و مقررات پرداخت</a></li>
                                <li><a asp-area="" asp-controller="Rules" asp-action="Comment">قوانین و مقررات نظردهی</a></li>
                                <li><a asp-area="" asp-controller="Rules" asp-action="Other">سایر قوانین و مقررات</a></li>
                            </ul>
                        </li>

                        <li>
                            <a asp-area="AdminPanel" asp-controller="Home" asp-action="Index" target="_blank">ادمین<i class="fas"></i></a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Blogs" asp-action="Index" target="_blank">مقالات<i class="fas"></i></a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="AboutUs" asp-action="Index" target="_blank">درباره ما<i class="fas"></i></a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="ContactUs" asp-action="Index" target="_blank">تماس با ما<i class="fas"></i></a>
                        </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <!-- User Menu -->
                        <li class="nav-item dropdown has-arrow logged-item" id="userInfo">

                        </li>
                        <!-- /User Menu -->
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link header-login" asp-controller="Account" asp-action="Login">ورود / ثبت‌نام</a>
                        </li>
                    }

                </ul>
            </nav>
        </header>
        <!-- /Header -->
        @RenderBody()

        <div id="loading" class="lds-facebook"><div></div><div></div><div></div></div>

        <!-- Footer -->
        <footer class="footer">

            <!-- Footer Top -->
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="~/assets/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">برای مراجعه‌کنندگان</h2>
                                <ul>
                                    <li><a asp-area="" asp-action="Index" asp-controller="Experts">جستجو مشاوران</a></li>
                                    <li><a asp-area="" asp-action="login" asp-controller="Account">‌ورود</a></li>
                                    <li><a asp-area="" asp-action="Signup" asp-controller="Account">‌ثبت‌نام</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">برای مشاوران</h2>
                                <ul>
                                    <li><a asp-area="" asp-action="login" asp-controller="Account">‌ورود</a></li>
                                    <li><a asp-area="" asp-action="ExpertSignup" asp-controller="Account">‌ثبت‌نام</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                        <div class="col-lg-3 col-md-6">

                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">ارتباط با ما</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> مازندران جویبار استان: مازندران، شهرستان :<br> جویبار، بخش : مرکزی، شهر: جویبار، محله: <br> امام، بلوار امام خمینی، بن بست (ایثارگران)، <br /> پلاک: 0.0، طبقه: اول، </p>
                                    </div>
                                    @*<p>
                                        <i class="fas fa-phone-alt"></i>
                                        09119007106
                                        </p>*@
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                        ahmad.hashemi46@Gmail.com
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->

                        </div>

                    </div>
                </div>
            </div>
            <!-- /Footer Top -->
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container-fluid">

                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; تمامی حقوق این وبسایت متعلق به شبکه یکپارچه مشاوره چاله چوله میباشد.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <!-- Copyright Menu -->
                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a asp-area="" asp-controller="Rules" asp-action="Index">شرایط و مقررات</a></li>
                                        <li><a asp-area="" asp-controller="ContactUs" asp-action="Index">تماس با ما</a></li>
                                    </ul>
                                </div>
                                <!-- /Copyright Menu -->

                            </div>
                        </div>
                    </div>
                    <!-- /Copyright -->

                </div>
            </div>
            <!-- /Footer Bottom -->
        </footer>
        <!-- /Footer -->
    </div>

    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap-rtl/js/bootstrap.min.js"></script>

    <!-- Select2 JS -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>

    <!-- Persian DatePicker JS -->
    <script src="~/Jcal/persian-date.js"></script>
    <script src="~/Jcal/persian-datepicker.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Slick JS -->
    <script src="~/assets/js/slick.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/script.js"></script>

    <!-- Sweet Alert JS -->
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

    <!-- Bootstrap Tagsinput JS -->
    <script src="~/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

    <script src="~/assets/js/owl.carousel.js"></script>


    <!-- Profile Settings JS -->
    <script src="~/assets/js/ExpertPanel/Profile/profile-settings.js"></script>

    <!-- Mask JS -->
    <script src="~/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/js/jquery.mask.js"></script>

    <script src="~/lib/imageUploader/jquery.imageuploader.js"></script>

    <!-- Fancybox JS -->
    <script src="~/assets/plugins/fancybox/jquery.fancybox.min.js"></script>

    <!-- SignalR JS -->
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/js/SignalRService.js"></script>


    @RenderSection("Modal", required: false)
    @RenderSection("AddModal", required: false)
    @RenderSection("ModalAppointmentInformation", required: false)
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">

        $(document).ready(function() {

            $("#loading").hide();

            $('.date').mask('00/00/0000');
            $('.time').mask('00:00:00');
            $('.date_time').mask('00/00/0000 00:00:00');
            $('.cep').mask('00000-000');
            $('.phone').mask('0000-0000');
            $('.phone_with_ddd').mask('(00) 0000-0000');
            $('.phone_us').mask('(000) 000-0000');
            $('.mixed').mask('AAA 000-S0S');
            $('.cpf').mask('000.000.000-00', {reverse: true});
            $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
            $('.money').mask('000.000.000.000.000,00', {reverse: true});
            $('.money2').mask("#.##0,000", {reverse: true});
            $('.ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', {
                translation: {
                    'Z': {
                        pattern: /[0-9]/, optional: true
                    }
                }
            });
            $('.ip_address').mask('099.099.099.099');
            $('.percent').mask('##0,00%', {reverse: true});
            $('.clear-if-not-match').mask("00/00/0000", {clearIfNotMatch: true});
            $('.placeholder').mask("00/00/0000", {placeholder: "__/__/____"});
            $('.fallback').mask("00r00r0000", {
                translation: {
                    'r': {
                        pattern: /[\/]/,
                        fallback: '/'
                    },
                    placeholder: "__/__/____"
                }
            });

            $('.selectonfocus').mask("00/00/0000", {selectOnFocus: true});

            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/api/Shared/GetUserFlag',
                cache: false,
                contentType: "application/json; charset=utf-8",
                enctype: 'application/json',
                success: function(response) {

                    var userFlag = response;

                    if (userFlag === 1) {
                        GetExpertDetails();
                    } else {
                        GetConsumerDetails();
                    }

                }
            });
        });

        function GetExpertDetails() {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/api/ExpertDetails/GetDetails',
                cache: false,
                contentType: "application/json; charset=utf-8",
                enctype: 'application/json',
                success: function(response) {

                    var model = response.data;

                    var body =
                        '<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">' +
                            '<span class="user-img">' +
                            '<img class="rounded-circle" src="/' +
                            model.iconSrc +
                            '" width="31" alt="' +
                            model.fullName +
                            '">' +
                            '</span>' +
                            '</a>' +
                            '<div class="dropdown-menu dropdown-menu-right">' +
                            '<div class="user-header">' +
                            '<div class="avatar avatar-sm">' +
                            '<img id="Image" src="/' +
                            model.iconSrc +
                            '" alt="User Image" class="avatar-img rounded-circle">' +
                            '</div>' +
                            '<div class="user-text">' +
                            '<h6 id="FullName">' +
                            model.fullName +
                            '</h6>' +
                            '<p class="text-muted mb-0">مشاور</p>' +
                            '</div>' +
                            '</div>' +
                            '<a class="dropdown-item" href="/ExpertPanel/Home/">داشبورد</a>' +
                            '<a class="dropdown-item" href="/ExpertPanel/Profile/">تنظیمات پروفایل</a>' +
                            '<a class="dropdown-item" href="/Account/Logout">خروج</a>' +
                            '</div>';

                    $("#userInfo").html(body);

                }
            });
        }

        function GetConsumerDetails() {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/api/ConsumerDetails/GetDetails',
                cache: false,
                contentType: "application/json; charset=utf-8",
                enctype: 'application/json',
                success: function(response) {

                    var model = response.data;

                    var body =
                        '<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">' +
                            '<span class="user-img">' +
                            '<img class="rounded-circle" src="/' +
                            model.iconSrc +
                            '" width="31" alt="' +
                            model.fullName +
                            '">' +
                            '</span>' +
                            '</a>' +
                            '<div class="dropdown-menu dropdown-menu-right">' +
                            '<div class="user-header">' +
                            '<div class="avatar avatar-sm">' +
                            '<img id="Image" src="/' +
                            model.iconSrc +
                            '" alt="User Image" class="avatar-img rounded-circle">' +
                            '</div>' +
                            '<div class="user-text">' +
                            '<h6 id="FullName">' +
                            model.fullName +
                            '</h6>' +
                            '<p class="text-muted mb-0">مراجعه کننده</p>' +
                            '</div>' +
                            '</div>' +
                            '<a class="dropdown-item" href="/ConsumerPanel/Home/">داشبورد</a>' +
                            '<a class="dropdown-item" href="/ConsumerPanel/Profile/">تنظیمات پروفایل</a>' +
                            '<a class="dropdown-item" href="/Account/Logout">خروج</a>' +
                            '</div>';

                    $("#userInfo").html(body);

                }
            });
        }

        $(".datetimepicker").persianDatepicker({
            months: ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"],
            dowTitle: ["شنبه", "یکشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنج شنبه", "جمعه"],
            shortDowTitle: ["ش", "ی", "د", "س", "چ", "پ", "ج"],
            showGregorianDate: !1,
            persianNumbers: !0,
            formatDate: "YYYY/MM/DD",
            selectedBefore: !1,
            selectedDate: null,
            startDate: null,
            endDate: null,
            prevArrow: '\u25c4',
            nextArrow: '\u25ba',
            theme: 'default',
            alwaysShow: !1,
            selectableYears: null,
            selectableMonths: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
            cellWidth: 25, // by px
            cellHeight: 20, // by px
            fontSize: 13, // by px
            isRTL: !1,
            format: 'YYYY/MM/DD',


            calendarPosition: {
                x: 0,
                y: 0,
            },
            onShow: function() {},
            onHide: function() {},
            onSelect: function() {},
            onRender: function() {}
        });
    </script>
</body>
</html>