@model CR.Core.DTOs.Factors.FactorDetailsForSiteDto

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">پرداخت</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">پرداخت</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="card">
                    <div class="card-body">

                        <!-- Checkout Form -->
                        <div>
                            <div class="payment-widget">
                                <h4 class="card-title">روش پرداخت</h4>

                                <!-- Credit Card Payment -->
                                <div class="payment-list">
                                    <label class="payment-radio credit-card-option">
                                        <input type="radio" name="radio" checked>
                                        <span class="checkmark"></span>
                                        کارت بانکی
                                    </label>
                                </div>
                                <!-- /Credit Card Payment -->
                                <!-- Paypal Payment -->
                                <div class="payment-list">
                                    <label class="payment-radio paypal-option">
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>
                                        کیف پول
                                    </label>
                                </div>
                                <!-- /Paypal Payment -->
                                <!-- Terms Accept -->
                                <div class="terms-accept">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="terms_accept">
                                        <label for="terms_accept">من با تمامی <a href="#">شرایط و مقررات موافقم</a></label>
                                    </div>
                                </div>
                                <!-- /Terms Accept -->
                                <!-- Submit Section -->
                                <div class="submit-section mt-4">
                                    <button onclick="RedirectToPayment()" class="btn btn-primary submit-btn">تایید پرداخت</button>
                                </div>
                                <!-- /Submit Section -->

                            </div>
                        </div>
                        <!-- /Checkout Form -->

                    </div>
                </div>

            </div>

            <div class="col-md-5 col-lg-4 theiaStickySidebar">

                <!-- Booking Summary -->
                <div class="card booking-card">
                    <div class="card-header">
                        <h4 class="card-title">خلاصه رزرو</h4>
                    </div>
                    <div class="card-body">

                        <!-- Booking Doctor Info -->
                        <div class="booking-doc-info">
                            <a href="doctor-profile.html" class="booking-doc-img">
                                <img src="~/@Model.expertIconSrc" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a asp-area="" asp-controller="Experts" asp-action="ExpertDetails" asp-route-expertInformationId="@Model.expertInformationId">مشاور @Model.expertFullName</a></h4>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">35</span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <!-- Booking Doctor Info -->

                        <div class="booking-summary">
                            <div class="booking-item-wrap">
                                @foreach (var appointment in Model.AppointmentDetailsForSiteDtos)
                                {
                                    <ul class="booking-date">
                                        <li>تاریخ<span>@appointment.Date</span></li>
                                        <li>زمان<span>@appointment.Time</span></li>
                                    </ul>
                                    <hr />
                                }
                                <ul class="booking-fee">
                                    <li>نوع مشاوره<span>@Model.AppointmentDetailsForSiteDtos.FirstOrDefault()?.TimingType</span></li>
                                    <li>نوع ارتباط<span>@Model.AppointmentDetailsForSiteDtos.FirstOrDefault()?.CallingType</span></li>
                                </ul>
                                <div class="booking-total">
                                    <ul class="booking-total-list">
                                        <li>
                                            <span>کل</span>
                                            <span class="total-cost">@Model.price.ToString("n0") تومان</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Booking Summary -->

            </div>
        </div>

    </div>

</div>
<!-- /Page Content -->
@section Scripts
{
<script>
    function RedirectToPayment() {

        var data = {};
        data["factorNumber"] = @ViewData["factorNumber"];
        data["price"] = @ViewData["price"];


        $.ajax({
            type: "POST",
            url: '/api/Payment/RedirectToPayment',
            data: JSON.stringify(data),
            dataType: "json",
            cache: false,
            contentType: "application/json; charset=utf-8",
            enctype: 'application/json',
            beforeSend: function(x) {
                $('#loading').show();
            },
            success: function(response) {
                if (response.isSuccess === true) {
                    window.location = response.data;
                }
                else {
                    swal.fire('هشدار!',
                        data.message,
                        'warning');
                }
            },
            complete: function() {
                $('#loading').hide();
            },
            fail: function() {
                $('#loading').hide();
            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function addCommas(n){
        var rx=  /(\d+)(\d{3})/;
        return String(n).replace(/^\d+/, function(w){
            while(rx.test(w)){
                w= w.replace(rx, '$1,$2');
            }
            return w;
        });
    }
</script>
}
