@using CR.DataAccess.Enums
@model List<CR.Core.DTOs.ChatUsers.ChatUserForConsumerDto>
<!-- Page Content -->
<div class="row">
    <div class="col-xl-12">
        <div class="chat-window">
            <!-- Chat Left -->
            <div class="chat-cont-left">
                <div class="chat-header">
                    <span>صفحه پیام ها </span>
                </div>
                <form class="chat-search">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="fas fa-search"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="جستجو" id="searchKey" name="searchKey">
                    </div>
                </form>
                <div class="chat-users-list">
                    <div id="chatUser-List" class="chat-scroll">
                        @if (Model.Count > 0)
                        {
                            @foreach (var chatUser in Model)
                            {
                                <a id="chatUser_@chatUser.Id" onclick="SetChatUserId(@chatUser.Id)" class="media read-chat">
                                    <div class="media-img-wrap">
                                        <div class="avatar @(chatUser.OnlineFlag ? "avatar-online" : "avatar-offline") ">
                                            <img src="~/@chatUser.ExpertIconSrc" alt="@chatUser.ExpertIconSrc" class="avatar-img rounded-circle">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <div class="user-name">@chatUser.ExpertName</div>
                                            <div class="user-last-chat">@chatUser.LastMessage</div>
                                        </div>
                                        <div>
                                            <div class="last-chat-time block">@chatUser.AppointmentDate - @chatUser.AppointmentTime</div>
                                            <div class="last-chat-time block">@chatUser.MessageType - @chatUser.ChatStatus</div>
                                            @if (chatUser.NotReadMessagesCount != 0)
                                            {
                                                <div id="NotReadConsumer_@chatUser.Id" class="badge badge-success badge-pill">@chatUser.NotReadMessagesCount</div>
                                            }
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- /Chat Left -->
            <!-- Chat Right -->
            <div class="chat-cont-right">
                <div class="chat-header">
                    <div class="media">
                        <div class="media-img-wrap">
                            <div class="avatar">
                                <img id="consumerImage" src="~/assets/img/favicon-32x32.png" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="media-body">
                            <div id="consumerName" class="user-name"></div>
                        </div>
                    </div>
                    <a id="back_user_list" class="back-user-list">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </div>
                <div class="chat-body">
                    <div class="chat-scroll" id="chatBody">
                        <ul id="messages-Body-Consumer" class="list-unstyled">
                        </ul>
                    </div>
                </div>
                <div class="chat-footer">
                    <div class="input-group">
                        <div id="voice" class="input-group-prepend">
                            <div id="controls">
                                <button id="recordButton">
                                    <i class="fa fa-microphone microphone"></i>
                                </button>
                                <button id="pauseButton" disabled>
                                    <i class="fa fa-pause pause"></i>
                                </button>
                                <button id="stopButton" disabled>
                                    <i class="fa fa-stop stop"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="btn-file btn">
                                <i class="fa fa-paperclip"></i>
                                <input type="file" id="image" multiple accept=".png , .jpeg">
                            </div>
                        </div>
                        <input id="message" type="text" class="input-msg-send form-control" placeholder="چیزی تایپ کنید ">
                        <div class="input-group-append">
                            <button@* onclick="AddNewMessage()"*@ id="sendButton" type="button" class="btn msg-send-btn"><i class="fab fa-telegram-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
<!-- /Page Content -->
@section Scripts
{
<script src="~/assets/js/RecorderForConsumer/recorder.js"></script>
<script src="~/assets/js/RecorderForConsumer/app.js"></script>

<script>

    $(document).ready(function() {
        var element = document.getElementById("voice");
        element.style.visibility = 'hidden';
    });

    var ChatUserId = 0;

    function SetChatUserId(chatUserId) {
        ChatUserId = chatUserId;

        GetMessages();
    }

    function GetMessages() {

        $("#chatUser-List .active").removeClass("active");
        $("#chatUser_" + ChatUserId).addClass("active");

        var data = {};

        data["chatUserId"] = ChatUserId;

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/Chat/GetConsumerMessages',
            cache: false,
            contentType: "application/json; charset=utf-8",
            enctype: 'application/json',
            data: JSON.stringify(data),
            beforeSend: function(x) {
                $('#loading').show(0);
            },
            success: function (response) {
                if (response.isSuccess === true) {
                    var model = response.data;
                    var element = document.getElementById("voice");

                    if (model.isVoice === true) {

                        element.style.visibility = 'visible';
                    }
                    else{

                        element.style.visibility = 'hidden';
                    }

                    $("#messages-Body-Consumer").html("");
                    var body = "";

                    for (let i = 0; i < model.chatMessageDtos.length; i++) {
                        if (model.chatMessageDtos[i].messageFlag === 1) {
                            body += '<li class="media sent">';
                            body += '<div class="media-body">';
                            if (model.chatMessageDtos[i].message !== null) {
                                body += '<div class="msg-box">';
                                body += '<div>';
                                body += '<p>';
                                body += model.chatMessageDtos[i].message;
                                body += '</p>';
                                body += '<ul class="chat-msg-info">';
                                body += '<li>';
                                body += '<div class="chat-time">';
                                body += '<span>';
                                body += model.chatMessageDtos[i].messageHour;
                                body += '</span>';
                                body += '</div>';
                                body += '</li>';
                                body += '</ul>';
                                body += '</div>';
                                body += '</div>';
                            }
                            if (model.chatMessageDtos[i].hasFile) {
                                body += '<div class="msg-box">';
                                body += '<div>';
                                body += '<div class="chat-msg-attachments">';
                                body += '<div class="chat-attachment">';
                                body += '<img src="/' + model.chatMessageDtos[i].file + '" alt="Attachment">';
                                body += '<div class="chat-attach-caption"></div>';
                                body += '<a href="/' + model.chatMessageDtos[i].file + '" class="chat-attach-download" download>';
                                body += '<i class="fas fa-download"></i>';
                                body += '</a>';
                                body += '</div>';
                                body += '</div>';
                                body += '<ul class="chat-msg-info">';
                                body += '<li>';
                                body += '<div class="chat-time">';
                                body += '<span>' + model.chatMessageDtos[i].messageHour + '</span>';
                                body += '</div>';
                                body += '</li>';
                                body += '</ul>';
                                body += '</div>';
                                body += '</div>';
                            }
                            if (model.chatMessageDtos[i].hasAudio) {
                                body += '<div class="msg-box">';
                                body += '<div>';
                                body += '<div class="chat-msg-attachments">';
                                body += '<audio controls>';
                                body += '<source src="/' + model.chatMessageDtos[i].audio + '" type="audio/ogg">';
                                body += '</audio>';
                                body += '</div>';
                                body += '<ul class="chat-msg-info">';
                                body += '<li>';
                                body += '<div class="chat-time">';
                                body += '<span>' + model.chatMessageDtos[i].messageHour + '</span>';
                                body += '</div>';
                                body += '</li>';
                                body += '</ul>';
                                body += '</div>';
                                body += '</div>';
                            }
                            body += '</div>';
                            body += '</li>';

                        } else {
                            body += '<li class="media received">';
                            body += '<div class="media-body">';
                            if (model.chatMessageDtos[i].message !== null) {
                                body += '<div class="msg-box">';
                                body += '<div>';
                                body += '<p>';
                                body += model.chatMessageDtos[i].message;
                                body += '</p>';
                                body += '<ul class="chat-msg-info">';
                                body += '<li>';
                                body += '<div class="chat-time">';
                                body += '<span>';
                                body += model.chatMessageDtos[i].messageHour;
                                body += '</span>';
                                body += '</div>';
                                body += '</li>';
                                body += '</ul>';
                                body += '</div>';
                                body += '</div>';
                            }
                            if (model.chatMessageDtos[i].hasFile) {
                                body += '<div class="msg-box">';
                                body += '<div>';
                                body += '<div class="chat-msg-attachments">';
                                body += '<div class="chat-attachment">';
                                body += '<img src="/' + model.chatMessageDtos[i].file + '" alt="Attachment">';
                                body += '<div class="chat-attach-caption"></div>';
                                body += '<a href="/' + model.chatMessageDtos[i].file + '" class="chat-attach-download" download>';
                                body += '<i class="fas fa-download"></i>';
                                body += '</a>';
                                body += '</div>';
                                body += '</div>';
                                body += '<ul class="chat-msg-info">';
                                body += '<li>';
                                body += '<div class="chat-time">';
                                body += '<span>' + model.chatMessageDtos[i].messageHour + '</span>';
                                body += '</div>';
                                body += '</li>';
                                body += '</ul>';
                                body += '</div>';
                                body += '</div>';
                            }
                            if (model.chatMessageDtos[i].hasAudio) {
                                body += '<div class="msg-box">';
                                body += '<div>';
                                body += '<div class="chat-msg-attachments">';
                                body += '<audio controls>';
                                body += '<source src="/' + model.chatMessageDtos[i].audio + '" type="audio/ogg">';
                                body += '</audio>';
                                body += '</div>';
                                body += '<ul class="chat-msg-info">';
                                body += '<li>';
                                body += '<div class="chat-time">';
                                body += '<span>' + model.chatMessageDtos[i].messageHour + '</span>';
                                body += '</div>';
                                body += '</li>';
                                body += '</ul>';
                                body += '</div>';
                                body += '</div>';
                            }
                            body += '</div>';
                            body += '</li>';
                        }
                        document.getElementById("consumerName").innerHTML = model.receiverFullName;
                        document.getElementById("consumerImage").src = "/" + model.receiverIconSrc;
                        $("#messages-Body-Consumer").html(body);
                    }

                    var time = FixMessageTime("@DateTime.Now.Minute : @DateTime.Now.Hour");
                    var user = ChatUserId;
                    var message = "کاربر وارد صفحه چت شد";
                    var messageFlag = 0;
                    connection.invoke("SendMessage", user, message,messageFlag,null).catch(function (err) {
                        return console.error(err.toString());
                    });



                }
                else {

                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }
                $("#chatBody").scrollTop($("#chatBody")[0].scrollHeight);
            },
            complete: function() {
                $('#loading').hide(0);
            },
            fail: function() {
                $('#loading').hide(0);
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }

        });
    }

    document.getElementById("sendButton").addEventListener("click", function (event) {

        var addNewMessageForm = new FormData();

        addNewMessageForm.append("chatUserId",ChatUserId);
        addNewMessageForm.append("message",$("#message").val());
        addNewMessageForm.append("file",$("#image").get(0).files[0]);

        $.ajax({
            type: "POST",
            url: '/api/Chat/CheckTime',
            data: addNewMessageForm,
            processData: false,
            contentType: false,
            beforeSend: function(x) {
                $('#loading').show();
            },
            success: function(data) {
                if (data.isSuccess === true) {
                    $('#image').val('');
                    var time = FixMessageTime("@DateTime.Now.Minute : @DateTime.Now.Hour");
                    var user = ChatUserId;
                    var message = $("#message").val();
                    var messageFlag = 0;
                    connection.invoke("SendMessage", user, message,messageFlag,data.data).catch(function (err) {
                        return console.error(err.toString());
                    });

                    document.getElementById('message').value = '';

                    if (data.data == null) {
                        var body2 = $("#messages-Body-Consumer").html();

                        body2 += '<li class="media received">';
                        body2 += '<div class="media-body">';
                        body2 += '<div class="msg-box">';
                        body2 += '<div>';
                        body2 += '<p>';
                        body2 += message;
                        body2 += '</p>';
                        body2 += '<ul class="chat-msg-info">';
                        body2 += '<li>';
                        body2 += '<div class="chat-time">';
                        body2 += '<span>';
                        body2 += time;
                        body2 += '</span>';
                        body2 += '</div>';
                        body2 += '</li>';
                        body2 += '</ul>';
                        body2 += '</div>';
                        body2 += '</div>';
                        body2 += '</div>';
                        body2 += '</li>';

                        $("#messages-Body-Consumer").html("");
                        $("#messages-Body-Consumer").html(body2);
                    }
                    else {
                        var body = $("#messages-Body-Consumer").html();

                        body += '<li class="media received">';
                        body += '<div class="media-body">';
                        body += '<div class="msg-box">';
                        body += '<div>';
                        body += '<div class="chat-msg-attachments">';
                        body += '<div class="chat-attachment">';
                        body += '<img src="/' + data.data + '" alt="Attachment">';
                        body += '<div class="chat-attach-caption"></div>';
                        body += '<a href="/' + data.data + '" class="chat-attach-download" download>';
                        body += '<i class="fas fa-download"></i>';
                        body += '</a>';
                        body += '</div>';
                        body += '</div>';
                        body += '<ul class="chat-msg-info">';
                        body += '<li>';
                        body += '<div class="chat-time">';
                        body += '<span>' + time + '</span>';
                        body += '</div>';
                        body += '</li>';
                        body += '</ul>';
                        body += '</div>';
                        body += '</div>';
                        body += '</div>';
                        body += '</li>';

                        $("#messages-Body-Consumer").html("");
                        $("#messages-Body-Consumer").html(body);
                        window.scrollTo({ left: 0, top: document.body.scrollHeight, behavior: "smooth" });
                    }
                    event.preventDefault();
                }
                else {
                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }
                $("#chatBody").scrollTop($("#chatBody")[0].scrollHeight);
            },
            complete: function() {
                $('#loading').hide();
            },
            fail: function() {
                $('#loading').hide();
            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    });

    const elem = document.getElementById("message");

    elem.addEventListener("keypress", (event)=> {
        if (event.keyCode === 13) { // key code of the keybord key
            event.preventDefault();

        var addNewMessageForm = new FormData();

        addNewMessageForm.append("chatUserId",ChatUserId);
        addNewMessageForm.append("message",$("#message").val());
        addNewMessageForm.append("file",$("#image").get(0).files[0]);

        $.ajax({
            type: "POST",
            url: '/api/Chat/UploadImage',
            data: addNewMessageForm,
            processData: false,
            contentType: false,
            beforeSend: function(x) {
                $('#loading').show();
            },
            success: function(data) {
                if (data.isSuccess === true) {
                    $('#image').val('');
                    var time = FixMessageTime("@DateTime.Now.Minute : @DateTime.Now.Hour");
                    var user = ChatUserId;
                    var message = $("#message").val();
                    var messageFlag = 0;
                    connection.invoke("SendMessage", user, message,messageFlag,data.data).catch(function (err) {
                        return console.error(err.toString());
                    });

                    document.getElementById('message').value = '';

                    if (data.data == null) {
                        var body2 = $("#messages-Body-Consumer").html();
                        body2 += '<li class="media received">';
                        body2 += '<div class="media-body">';
                        body2 += '<div class="msg-box">';
                        body2 += '<div>';
                        body2 += '<p>';
                        body2 += message;
                        body2 += '</p>';
                        body2 += '<ul class="chat-msg-info">';
                        body2 += '<li>';
                        body2 += '<div class="chat-time">';
                        body2 += '<span>';
                        body2 += time;
                        body2 += '</span>';
                        body2 += '</div>';
                        body2 += '</li>';
                        body2 += '</ul>';
                        body2 += '</div>';
                        body2 += '</div>';
                        body2 += '</div>';
                        body2 += '</li>';

                        $("#messages-Body-Consumer").html("");
                        $("#messages-Body-Consumer").html(body2);
                    }
                    else {

                        var body = $("#messages-Body-Expert").html();

                        body += '<li class="media received">';
                        body += '<div class="media-body">';
                        body += '<div class="msg-box">';
                        body += '<div>';
                        body += '<div class="chat-msg-attachments">';
                        body += '<div class="chat-attachment">';
                        body += '<img src="/' + data.data + '" alt="Attachment">';
                        body += '<div class="chat-attach-caption"></div>';
                        body += '<a href="/' + data.data + '" class="chat-attach-download" download>';
                        body += '<i class="fas fa-download"></i>';
                        body += '</a>';
                        body += '</div>';
                        body += '</div>';
                        body += '<ul class="chat-msg-info">';
                        body += '<li>';
                        body += '<div class="chat-time">';
                        body += '<span>' + time + '</span>';
                        body += '</div>';
                        body += '</li>';
                        body += '</ul>';
                        body += '</div>';
                        body += '</div>';
                        body += '</div>';
                        body += '</li>';

                        $("#messages-Body-Consumer").html("");
                        $("#messages-Body-Consumer").html(body);
                    }
                    $('#loading').hide();
                    event.preventDefault();
                }
                else {
                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                    $('#loading').hide();
                }
                $("#chatBody").scrollTop($("#chatBody")[0].scrollHeight);
            },
            complete: function() {
                $('#loading').hide();
            },
            fail: function() {
                $('#loading').hide();
            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
        }
    });

     const selectElement = document.getElementById("image");

    selectElement.addEventListener('change', (event) => {
        var addNewMessageForm = new FormData();

        addNewMessageForm.append("chatUserId",ChatUserId);
        addNewMessageForm.append("message",$("#message").val());
        addNewMessageForm.append("file",$("#image").get(0).files[0]);

        $.ajax({
            type: "POST",
            url: '/api/Chat/UploadImage',
            data: addNewMessageForm,
            processData: false,
            contentType: false,
            beforeSend: function(x) {
                $('#loading').show();
            },
            success: function(data) {
                if (data.isSuccess === true) {
                    $('#image').val('');
                    var time = FixMessageTime("@DateTime.Now.Minute : @DateTime.Now.Hour");
                    var user = ChatUserId;
                    var message = $("#message").val();
                    var messageFlag = 1;
                    connection.invoke("SendMessage", user, message,messageFlag,data.data).catch(function (err) {
                        return console.error(err.toString());
                    });

                    document.getElementById('message').value = '';

                    if (data.data == null) {
                        var body2 = $("#messages-Body-Expert").html();
                        body2 += '<li class="media received">';
                        body2 += '<div class="media-body">';
                        body2 += '<div class="msg-box">';
                        body2 += '<div>';
                        body2 += '<p>';
                        body2 += message;
                        body2 += '</p>';
                        body2 += '<ul class="chat-msg-info">';
                        body2 += '<li>';
                        body2 += '<div class="chat-time">';
                        body2 += '<span>';
                        body2 += time;
                        body2 += '</span>';
                        body2 += '</div>';
                        body2 += '</li>';
                        body2 += '</ul>';
                        body2 += '</div>';
                        body2 += '</div>';
                        body2 += '</div>';
                        body2 += '</li>';

                        $("#messages-Body-Expert").html("");
                        $("#messages-Body-Expert").html(body2);
                    }
                    else {

                        var body = $("#messages-Body-Expert").html();

                        body += '<li class="media received">';
                        body += '<div class="media-body">';
                        body += '<div class="msg-box">';
                        body += '<div>';
                        body += '<div class="chat-msg-attachments">';
                        body += '<div class="chat-attachment">';
                        body += '<img src="/' + data.data + '" alt="Attachment">';
                        body += '<div class="chat-attach-caption"></div>';
                        body += '<a href="/' + data.data + '" class="chat-attach-download" download>';
                        body += '<i class="fas fa-download"></i>';
                        body += '</a>';
                        body += '</div>';
                        body += '</div>';
                        body += '<ul class="chat-msg-info">';
                        body += '<li>';
                        body += '<div class="chat-time">';
                        body += '<span>' + time + '</span>';
                        body += '</div>';
                        body += '</li>';
                        body += '</ul>';
                        body += '</div>';
                        body += '</div>';
                        body += '</div>';
                        body += '</li>';

                        $("#messages-Body-Expert").html("");
                        $("#messages-Body-Expert").html(body);
                    }
                    $('#loading').hide();
                    event.preventDefault();
                }
                else {
                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                    $('#loading').hide();
                }
                $("#chatBody").scrollTop($("#chatBody")[0].scrollHeight);
            },
            complete: function() {
                $('#loading').hide();
            },
            fail: function() {
                $('#loading').hide();
            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    });

    function FixMessageTime(time) {

        var output = time;
        var x = time.split(":");

        if (x[1].length < 2)
            x[1] += "0" + x[1];

        output = x[0] + ":" + x[1];

        return output;
    }
</script>
}
