@addTagHelper *, LazZiya.TagHelpers
@using CR.Common.Convertor
@using CR.Common.Utilities
@using CR.DataAccess.Enums
@model CR.Presentation.Areas.ExpertPanel.Models.ViewModels.ExpertPanelDashboardViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">داشبورد</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">داشبورد</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                <partial name="ExpertPnelSideBarMenu" />

            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card dash-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card dash-card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-4">
                                                        <div class="dash-widget dct-border-rht">
                                                            <div class="circle-bar circle-bar1">
                                                                <div class="circle-graph1" data-percent="75">
                                                                    <img src="~/assets/img/icon-01.png" class="img-fluid" alt="patient">
                                                                </div>
                                                            </div>
                                                            <div class="dash-widget-info">
                                                                <h6> مراجعان کلی </h6>
                                                                <h3>1500</h3>
                                                                <p class="text-muted"> تا امروز </p>
                                                            </div>
                                                        </div>
                                                    </div>
												
                                                    <div class="col-md-12 col-lg-4">
                                                        <div class="dash-widget dct-border-rht">
                                                            <div class="circle-bar circle-bar2">
                                                                <div class="circle-graph2" data-percent="65">
                                                                    <img src="~/assets/img/icon-02.png" class="img-fluid" alt="Patient">
                                                                </div>
                                                            </div>
                                                            <div class="dash-widget-info">
                                                                <h6> مراجعان امروز </h6>
                                                                <h3>160</h3>
                                                                <p class="text-muted">6 تیر 1398</p>
                                                            </div>
                                                        </div>
                                                    </div>
												
                                                    <div class="col-md-12 col-lg-4">
                                                        <div class="dash-widget">
                                                            <div class="circle-bar circle-bar3">
                                                                <div class="circle-graph3" data-percent="50">
                                                                    <img src="~/assets/img/icon-03.png" class="img-fluid" alt="Patient">
                                                                </div>
                                                            </div>
                                                            <div class="dash-widget-info">
                                                                <h6>نوبت ها</h6>
                                                                <h3>85</h3>
                                                                <p class="text-muted">6 تیر 1398</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-4">نوبت مراجعان</h4>
                        <div class="appointment-tab">

                            <!-- Appointment Tab -->
                            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#upcoming-appointments" data-toggle="tab">در حال آمدن</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#today-appointments" data-toggle="tab">امروز</a>
                                </li>
                            </ul>
                            <!-- /Appointment Tab -->

                            <div class="tab-content">

                                <!-- Upcoming Appointment Tab -->
                                <div class="tab-pane show active" id="upcoming-appointments">
                                    <div class="card card-table mb-0">
                                        <div class="card-body">
                                            @if (Model.ResultGetIncomingConsumersForExpertDashboardDto.ConsumerForExpertDashboardDtos.Count > 0)
                                            {
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>نام مراجعه کننده</th>
                                                                <th>تاریخ نوبت</th>
                                                                <th>نوع</th>
                                                                <th class="text-center">مقدار پرداختی</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var consumer in Model.ResultGetIncomingConsumersForExpertDashboardDto.ConsumerForExpertDashboardDtos)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a asp-area="ExpertPanel" asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-consumerId="@consumer.ConsumerId" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@consumer.ConsumerIconSrc" alt="User Image"></a>
                                                                            <a asp-area="ExpertPanel" asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-consumerId="@consumer.ConsumerId">@consumer.FullName <span>@consumer.ConsumerId</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>@consumer.AppointmentDate<span class="d-block text-info">@consumer.AppointmentTime</span></td>
                                                                    <td>@consumer.ConsumerType</td>
                                                                    @if (consumer.AppointmentPrice == "0")
                                                                    {
                                                                        <td class="text-center">رایگان</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-center">@consumer.AppointmentPrice تومان</td>
                                                                    }
                                                                    <td class="text-right">
                                                                        <div class="table-action">
                                                                            <a onclick="ShowDetails(@consumer.AppointmentId)" class="btn btn-sm bg-info-light" data-toggle="ajaxModal" data-target="#appt_details">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            @if (consumer.AppointmentStatus == AppointmentStatus.Waiting.GetDisplayName())
                                                                            {
                                                                                <a onclick="Completed(@consumer.AppointmentId)" class="btn btn-sm bg-success-light">
                                                                                    <i class="fas fa-check"></i> انجام شد
                                                                                </a>
                                                                                <a onclick="GetId(@consumer.AppointmentId)" data-toggle="modal" data-target="#NotDoneModal" data-original-title="" title="" class="btn btn-sm bg-danger-light">
                                                                                    <i class="fas fa-times"></i> انجام نشد
                                                                                </a>
                                                                            }
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                            else
                                            {
                                                <h3>اطلاعاتی جهت نمایش یافت نشد</h3>
                                            }
                                        </div>
                                    </div><hr />
                                    <div class="text-center">
                                        <paging total-records="Model.ResultGetIncomingConsumersForExpertDashboardDto.RowCount"
                                                page-no="Model.ResultGetIncomingConsumersForExpertDashboardDto.CurrentPage"
                                                page-size="Model.ResultGetIncomingConsumersForExpertDashboardDto.PageSize"
                                                show-prev-next="true"
                                                show-total-pages="false"
                                                show-total-records="false"
                                                show-page-size-nav="true"
                                                show-first-numbered-page="true"
                                                show-last-numbered-page="true"
                                                query-string-key-page-no="Page"
                                                query-string-key-page-size="PageSize"
                                                gap-size="2">
                                        </paging>
                                    </div>
                                </div>
                                <!-- /Upcoming Appointment Tab -->
                                <!-- Today Appointment Tab -->
                                <div class="tab-pane" id="today-appointments">
                                    <div class="card card-table mb-0">
                                        <div class="card-body">
                                            @if (Model.ResultGetTodayConsumersForExpertDashboardDto.ConsumerForExpertDashboardDtos.Count > 0)
                                            {
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>نام مراجعه کننده</th>
                                                                <th>تاریخ نوبت</th>
                                                                <th>نوع</th>
                                                                <th class="text-center">مقدار پرداختی</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var consumer in Model.ResultGetTodayConsumersForExpertDashboardDto.ConsumerForExpertDashboardDtos)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a asp-area="ExpertPanel" asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-consumerId="@consumer.ConsumerId" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@consumer.ConsumerIconSrc" alt="User Image"></a>
                                                                            <a asp-area="ExpertPanel" asp-controller="Consumers" asp-action="ConsumerDetails" asp-route-consumerId="@consumer.ConsumerId">@consumer.FullName <span>@consumer.ConsumerId</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>@consumer.AppointmentDate <span class="d-block text-info">@consumer.AppointmentTime</span></td>
                                                                    <td>@consumer.ConsumerType</td>
                                                                    @if (consumer.AppointmentPrice == "0")
                                                                    {
                                                                        <td class="text-center">رایگان</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-center">@consumer.AppointmentPrice تومان</td>
                                                                    }
                                                                    <td class="text-right">
                                                                        <div class="table-action">
                                                                            <a onclick="ShowDetails(@consumer.AppointmentId)" href="#" class="btn btn-sm bg-info-light" data-toggle="ajaxModal" data-target="#appt_details">
                                                                                <i class="far fa-eye"></i> مشاهده
                                                                            </a>
                                                                            @if (consumer.AppointmentStatus == AppointmentStatus.Waiting.GetDisplayName())
                                                                            {
                                                                                <a onclick="Completed(@consumer.AppointmentId)" class="btn btn-sm bg-success-light">
                                                                                    <i class="fas fa-check"></i> انجام شد
                                                                                </a>
                                                                                <a onclick="GetId(@consumer.AppointmentId)" data-toggle="modal" data-target="#NotDoneModal" data-original-title="" title="" class="btn btn-sm bg-danger-light">
                                                                                    <i class="fas fa-times"></i> انجام نشد
                                                                                </a>
                                                                            }
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                            else
                                            {
                                                <h3>اطلاعاتی جهت نمایش موجود نیست</h3>
                                            }
                                        </div>
                                    </div><hr />
                                    <div class="text-center">
                                        <paging total-records="Model.ResultGetTodayConsumersForExpertDashboardDto.RowCount"
                                                page-no="Model.ResultGetTodayConsumersForExpertDashboardDto.CurrentPage"
                                                page-size="Model.ResultGetTodayConsumersForExpertDashboardDto.PageSize"
                                                show-prev-next="true"
                                                show-total-pages="false"
                                                show-total-records="false"
                                                show-page-size-nav="true"
                                                show-first-numbered-page="true"
                                                show-last-numbered-page="true"
                                                query-string-key-page-no="Page"
                                                query-string-key-page-size="PageSize"
                                                gap-size="2">
                                        </paging>
                                    </div>
                                </div>
                                <!-- /Today Appointment Tab -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
@section Scripts
{
    <script src="~/assets/js/ConusmerPanel/Home/Home.js"></script>
    <script src="~/assets/js/ExpertPanel/layout.js"></script>
    
    <!-- Circle Progress JS -->
    <script src="~/assets/js/circle-progress.min.js"></script>

    <script>

    $(document).ready(function () {

        $("#ExpertPanelMenu .active").removeClass("active");
        $("#ExpertPanelMenu #Home").addClass("active");
    });

    var Id = 0;

    function ShowDetails(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetails", "Appointments")',
            data: {id : id},
            dataType: "json",
            success: function(response) {
                var data = response;

                var body = '';

                body += '<ul class="info-details">';
                body += '<li>';
                body += '<div class="details-header">';
                body += '<div class="row">';
                body +='<div class="col-md-6">';
                body += '<span class="title">تاریخ و زمان نوبت:</span>';
                body += '<span class="text">' + data.appointmentDate + " , " + data.appointmentTime + '</span>';
                body += '</div>';
                body += '<div class="col-md-6">';
                body += '<div class="text-right">';
                if (data.appointmentStatus === "در انتظار") {
                    body += '<button type="button" class="btn bg-warning-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                else if (data.appointmentStatus === "انجام نشد") {
                    body += '<button type="button" class="btn bg-danger-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                else {
                    body += '<button type="button" class="btn bg-success-light btn-sm">' + data.appointmentStatus + '</button>';
                }
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</li>';
                body += '<li>';
                body += '<span class="title">وضعیت:</span>';
                body += '<span class="text">' + data.appointmentStatus + '</span>';
                body += '</li>';
                body += '<li>';
                body += '<span class="title">مقدار پرداختی</span>';
                body += '<span class="text">' + data.appointmentPrice + "تومان" + '</span>';
                body += '</li>';
                body += '</ul>';

                $("#appt_details #detailsBody").html(body);
                $("#appt_details").modal("show");

            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function Completed(id) {

        swal.fire({
            title: "آیا از تغیر وضعیت این نوبت مطمئن هستید؟",
            text: "پس از تایید دیگر نمیتوانید وضعیت این نوبت را تغیر دهید!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: '#7cacbe',
            confirmButtonText: "بله , تغیر بده!",
            cancelButtonText: 'خیر',
        }).then((result) => {
            if (result.value) {
                var postData = {
                    'appointmentId': id,
                    'appointmentStatus' : 2
                };
                $.ajax({
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    type: "POST",
                    url: "@Url.Action("ChangeAppointmentStatus", "Appointments")",
                    data: postData,
                    success: function (data) {
                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function (isConfirm) {
                                location.replace("@Url.Action("Index", "Home")");
                            });
                        }
                        else {
                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }

                });
            }
        });
    }

    function GetId(id) {
        Id = id;
    }

    function populateTextarea(name) {
        //get the text by id or predefined or however you wish or passed to function
        var txt = document.getElementById(name).value;

        document.getElementById("reason").value = txt;
    }


    function NotDone() {

        var reason = document.getElementById("reason").value;

        if (reason === "") {
            swal.fire(
                'هشدار!',
                'لطفا دلیل عدم انجام را وارد کنید',
                'warning'
            );
            return;
        }
        swal.fire({
            title: "آیا از تغیر وضعیت این نوبت مطمئن هستید؟",
            text: "پس از تایید دیگر نمیتوانید وضعیت این نوبت را تغیر دهید!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: '#7cacbe',
            confirmButtonText: "بله , تغیر بده!",
            cancelButtonText: 'خیر',
        }).then((result) => {
            if (result.value) {
                var postData = {
                    'appointmentId': Id,
                    'appointmentStatus' : 1,
                    'reason' : reason
                };
                $.ajax({
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    type: "POST",
                    url: "@Url.Action("ChangeAppointmentStatus", "Appointments")",
                    data: postData,
                    success: function (data) {
                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function (isConfirm) {
                                location.replace("@Url.Action("Index", "Appointments")");
                            });
                        }
                        else {
                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }

                });
            }
        });
    }

</script>
}

@section ModalAppointmentInformation{
<!-- Appointment Details Modal -->
<div class="modal fade custom-modal" id="appt_details">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">جزییات نوبت</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detailsBody">
            </div>
        </div>
    </div>
</div>
<!-- /Appointment Details Modal -->
}
@section Modal{
<!-- NotDoneAppointmentModal -->
<div class="modal fade" id="NotDoneModal" tabindex="-1" role="dialog" aria-labelledby="NotDoneModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">تغیر وضعیت نوبت : انجام نشد</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" data-original-title="" title=""><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label" for="recipient-name">دلیل عدم انجام :</label><hr />
                    <button onclick="populateTextarea(this.id)" id="NoAnswer" type="button" class="btn btn-block btn-outline-danger active" value="عدم پاسخ به تماس">عدم پاسخ به تماس</button>
                    <button onclick="populateTextarea(this.id)" id="Bussy" type="button" class="btn btn-block btn-outline-danger active" value="اشغال بودن خط">اشغال بودن خط</button>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="message-text">متن :</label>
                    <textarea id="reason" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" data-original-title="" title="">بستن</button>
                <button onclick="NotDone()" class="btn btn-danger" type="button" data-original-title="" title="">تغیر وضعیت</button>
            </div>
        </div>
    </div>
</div>
<!-- /NotDoneAppointmentModal -->
}