@using CR.Common.Utilities
@using CR.DataAccess.Enums
@model CR.Core.DTOs.ResultDTOs.Comments.ResultGetAllExpertCommentsForAdminPanelDto
<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">نظرات</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">داشبورد</a></li>
                <li class="breadcrumb-item active">نظرات مشاورین</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-center">نام نظر دهنده</th>
                                <th class="text-center">نام مشاور</th>
                                <th class="text-center">نظر</th>
                                <th class="text-center"> متن </th>
                                <th class="text-center">تاریخ</th>
                                <th class="text-center">وضعیت</th>
                                <th class="text-center"> اقدامات </th>
                                <th class="text-center">نمایش در صفحه اصلی</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ExpertCommentForAdminPanelDtos.Count > 0)
                            {
                                @foreach (var comment in Model.ExpertCommentForAdminPanelDtos)
                                {
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@comment.CommenterIconSrc" alt="@comment.CommenterFullName"></a>
                                                <a>@comment.CommenterFullName </a>
                                            </h2>
                                        </td>
                                        <td class="text-center">
                                            <h2 class="table-avatar">
                                                <a asp-controller="Experts" asp-action="ExpertDetails" asp-route-id="@comment.ExpertId" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/@comment.ExpertIconSrc" alt="@comment.ExpertFullName"></a>
                                                <a asp-controller="Experts" asp-action="ExpertDetails" asp-route-id="@comment.ExpertId">@comment.ExpertFullName</a>
                                            </h2>
                                        </td>

                                        <td class="text-center">
                                            @if (comment.Rate != null)
                                            {
                                                @for (int i = 1; i <= comment.Rate; i++)
                                                {
                                                    <i class="fe fe-star text-warning"></i>
                                                }
                                                @for (int i = 1; i <= (5 - comment.Rate); i++)
                                                {
                                                    <i class="fe fe-star-o text-secondary"></i>

                                                }
                                            }
                                        </td>

                                        <td class="text-center">
                                            <button class="tag" onclick="ShowDetails(@comment.Id)">@comment.Message</button>
                                        </td>

                                        <td class="text-center">
                                            @comment.CreateDate
                                        </td>
                                        <td class="text-center">
                                            @if (comment.Status == CommentStatus.Waiting.GetDisplayName())
                                            {
                                                <span class="badge badge-pill bg-warning inv-badge">@comment.Status</span>
                                            }
                                            else if (comment.Status == CommentStatus.Accepted.GetDisplayName())
                                            {
                                                <span class="badge badge-pill bg-success inv-badge">@comment.Status</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill bg-danger inv-badge">@comment.Status</span>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <div class="actions">
                                                <a onclick="SetId(@comment.Id)" class="btn btn-sm bg-success-light" data-toggle="modal" href="#change_comment_status">
                                                    <i class="fe fe-check-verified"></i> تغیر وضعیت
                                                </a>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="status-toggle">
                                                @if (comment.ShowStatus == true)
                                                {
                                                    <input onchange="ChangeShowStatus(@comment.Id)" type="checkbox" id="status_@comment.Id" name="status" class="check" checked>
                                                }
                                                else
                                                {
                                                    <input onchange="ChangeShowStatus(@comment.Id)" type="checkbox" id="status_@comment.Id" name="status" class="check">
                                                }
                                                <label for="status_@comment.Id" class="checktoggle">checkbox</label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center">
            <paging total-records="Model.RowCount"
                    page-no="Model.CurrentPage"
                    page-size="Model.PageSize"
                    show-prev-next="true"
                    show-total-pages="false"
                    show-total-records="false"
                    show-page-size-nav="true"
                    show-first-numbered-page="true"
                    show-last-numbered-page="true"
                    query-string-key-page-no="Page"
                    query-string-key-page-size="PageSize"
                    gap-size="2">
            </paging>
        </div>
    </div>
</div>

<!-- Change Status Modal -->
<div class="modal fade" id="change_comment_status" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">تغیر وضعیت نظر</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <button onclick="ChangeStatus(1)" id="accepted" type="button" class="btn btn-block btn-outline-success active">تایید</button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <button onclick="ChangeStatus(2)" id="denied" type="button" class="btn btn-block btn-outline-danger active">رد</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Change Status Modal -->
<!-- Comment Details Modal -->
<div class="modal fade custom-modal" id="comment_details">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">جزییات نظر</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detailsBody">
            </div>
        </div>
    </div>
</div>
<!-- /Comment Details Modal -->
@section Scripts
{
<script>
    var id = 0;

    function SetId(Id) {
        id = Id;
    }

    function ChangeStatus(Status) {
        swal.fire({
            title: 'تغیر وضعیت نظر',
            text: "مدیریت گرامی از تغیر وضعیت نظر مطمئن هستید؟",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#7cacbe',
            confirmButtonText: 'تایید',
            cancelButtonText: 'انصراف'
        }).then((result) => {
            if (result.value) {
                var data = {};
                data["id"] = id;
                data["status"] = Status;
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: "POST",
                    enctype: 'application/json',
                    url: '/api/Comments/ChangeStatus',
                    data: JSON.stringify(data),
                    success: function(data) {
                        if (data.isSuccess === true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function(isConfirm) {
                                location.reload();
                            });
                        } else {
                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function(request, status, error) {
                        alert(request.responseText);
                    }

                });
            }
        });
    }

    function ShowDetails(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetails","Comments")',
            data: {id:id},
            dataType: "json",
            success: function(response) {
                var data = response;

                var body = '';

                body += '<ul class="info-details">';
                body += '<li>';
                body += '<div class="details-header">';
                body += '<div class="row">';
                body +='<div class="col-md-6">';
                body += '<span class="title">تاریخ ثبت نظر : </span>';
                body += '<span class="text">' + data.createDate + '</span>';
                body += '</div>';
                body += '<div class="col-md-6">';
                body += '<div class="text-right">';
                if (data.status === "در انتظار") {
                    body += '<button type="button" class="btn bg-warning-light btn-sm">' + data.status + '</button>';
                }
                else if (data.status === "کنسل شده") {
                    body += '<button type="button" class="btn bg-danger-light btn-sm">' + data.status + '</button>';
                }
                else {
                    body += '<button type="button" class="btn bg-success-light btn-sm">' + data.status + '</button>';
                }
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</div>';
                body += '</li>';
                body += '<br/>';
                body += '<li>';
                body += '<span class="title">نظر برای : </span>';
                if (data.commentType === 0) {
                    body += '<button type="button" class="btn bg-warning-light btn-sm">' + "متخصص" + '</button>';
                }
                else {
                    body += '<button type="button" class="btn bg-success-light btn-sm">' + "مقاله" + '</button>';
                }
                body += '</li>';
                body += '<br/>';
                body += '<li>';
                body += '<span class="title">متن نظر : </span>';
                body += '<span class="text">' + data.message + '</span>';
                body += '</li>';
                body += '</ul>';

                $("#comment_details #detailsBody").html(body);
                $("#comment_details").modal("show");

            },
            error: function(request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function ChangeShowStatus(id) {
        var showStatus = false;
        var commentId = id;

        if (document.getElementById("status_" + commentId).checked) {
            showStatus = true;
        } else {
            showStatus = false;
        }

        var showStatusForm = new FormData();

        showStatusForm.append("commentId",commentId);
        showStatusForm.append("showStatus",showStatus);

        $.ajax({
            type: "POST",
            url: '/api/Comments/ChangeShowStatus',
            data: showStatusForm,
            processData: false,
            contentType: false,
            beforeSend: function(x) {
                $('#loading').show();
            },
            success: function (data) {
                if (data.isSuccess == true) {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function (isConfirm) {
                        location.reload();
                    });
                }
                else {
                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );

                }
            },
            complete: function() {
                $('#loading').hide();
            },
            fail: function() {
                $('#loading').hide();
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }
</script>
}
