@addTagHelper *, LazZiya.TagHelpers
@using CR.Core.DTOs.Specialities
@model CR.Core.DTOs.ResultDTOs.ResultGetAllSpecialitiesDto
@{
}

<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-7 col-auto">
            <h3 class="page-title">تخصص ها</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">داشبورد</a></li>
                <li class="breadcrumb-item active">تخصص ها</li>
            </ul>
        </div>
        <div class="col-sm-5 col">
            <a href="#Add_Specialities_details" data-toggle="modal" class="btn btn-primary float-right mt-2">افزودن</a>
        </div>
    </div>
</div>
<!-- /Page Header -->
<div class="row">
    <div class="col-sm-12">
        @if (Model.Specialities.Count > 0)
        {
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="datatable table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>تخصص ها</th>
                                    <th class="text-right"> اقدامات </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var speciality in Model.Specialities)
                                {
                                    <tr>
                                        <td>@speciality.Id</td>

                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-sm mr-2">
                                                    <img class="avatar-img" src="~/@speciality.ImageSrc" alt="Speciality">
                                                </a>
                                                <a href="profile.html">@speciality.Name</a>
                                            </h2>
                                        </td>

                                        <td class="text-right">
                                            <div class="actions">
                                                <a onclick="GetId(@speciality.Id)" class="btn btn-sm bg-success-light" data-toggle="modal" href="#edit_specialities_details">
                                                    <i class="fe fe-pencil"></i> ویرایش
                                                </a>
                                                <a data-toggle="modal" onclick="Remove(@speciality.Id)" class="btn btn-sm bg-danger-light">
                                                    <i class="fe fe-trash"></i> حذف
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h1>اطلاعاتی جهت نمایش وجود ندارد</h1>
        }
        <div class="text-center">
            <paging total-records="Model.RowCount"
                    page-no="Model.CurrentPage"
                    page-size="Model.PageSize"
                    show-prev-next="true"
                    show-total-pages="false"
                    show-total-records="false"
                    show-page-size-nav="true"
                    show-first-numbered-page="true"
                    show-last-numbered-page="true"
                    query-string-key-page-no="Page"
                    query-string-key-page-size="PageSize"
                    gap-size="2">
            </paging>
        </div>
    </div>
</div>


<!-- Add Modal -->
<div class="modal fade" id="Add_Specialities_details" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">افزودن تخصص</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>تخصص ها</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>تصویر</label>
                            <input type="file" class="form-control" id="File">
                        </div>
                    </div>

                </div>
                <button onclick="Add()" type="submit" class="btn btn-primary btn-block">ذخیره تغییرات</button>
            </div>
        </div>
    </div>
</div>


<!-- Edit Details Modal -->
<div class="modal fade" id="edit_specialities_details" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ویرایش تخصص</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>تخصص</label>
                            <input type="text" class="form-control" id="nameEdit">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>تصویر</label>
                            <input type="file" class="form-control" id="fileEdit">
                        </div>
                    </div>

                </div>
                <button onclick="Edit()" type="submit" class="btn btn-primary btn-block">ذخیره تغییرات</button>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Details Modal -->

@section Scripts{

<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>

<script>
    var EditId = 0;

    function Add(){

        var Name = $("#name").val();

        var data = new FormData();
        data.append("Name",Name);

        var Image = document.getElementById("File");

         if (Image.files.length > 0) {
            data.append("File", Image.files[0]);
         }
         else {
             swal.fire(
            'هشدار!',
            "یک فایل برای تصویر انتخاب کنید",
            'warning'
             );
             return;
           }

           $('#loading').show();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddSpeciality", "Speciality")",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function (isConfirm) {
                                location.reload();
                            });


                        }
                        else {

                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    },
                    complete: function () {
                        $('#loading').hide();
                    }

                });

    }

    function GetId(id)
    {
        EditId = id;
    }

    function Edit(){

        var Id = EditId;
        var Name = $("#nameEdit").val();

        var data = new FormData();
        data.append("Name",Name);
        data.append("Id",Id);

        var Image = document.getElementById("fileEdit");

         if (Image.files.length > 0) {
            data.append("File", Image.files[0]);
         }
           $('#loading').show();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("EditSpeciality", "Speciality")",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                data.message,
                                'success'
                            ).then(function (isConfirm) {
                                location.reload();
                            });


                        }
                        else {

                            swal.fire(
                                'هشدار!',
                                data.message,
                                'warning'
                            );

                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    },
                    complete: function () {
                        $('#loading').hide();
                    }

                });
    }

   function Remove(Id) {

                swal.fire({
                    title: 'حذف تخصص',
                    text: "کاربر گرامی از حذف تخصص مطمئن هستید؟",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#7cacbe',
                    confirmButtonText: 'بله ، حذف شود',
                    cancelButtonText: 'خیر'
                }).then((result) => {
                    if (result.value) {
                        var postData = {
                            'Id': Id,
                        };
                        $.ajax({
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: 'json',
                            type: "POST",
                            url: "@Url.Action("Remove", "Speciality")",
                            data: postData,
                            success: function (data) {
                                if (data.isSuccess == true) {
                                    swal.fire(
                                        'موفق!',
                                        data.message,
                                        'success'
                                    ).then(function (isConfirm) {
                                        location.replace("@Url.Action("Index", "Speciality")");
                                    });
                                }
                                else {
                                    swal.fire(
                                        'هشدار!',
                                        data.message,
                                        'warning'
                                    );

                                }
                            },
                            error: function (request, status, error) {
                                alert(request.responseText);
                            }

                        });
                    }
                })

        }
</script>

}