@addTagHelper *, LazZiya.TagHelpers
@model CR.Presentation.Models.ViewModels.BlogsIndexViewModel
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">مقالات</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">‌لیست مقالات</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-12">

                @if (Model.ResultGetBlogsForPresentationDto.BlogForPresentationDtos.Count > 0)
                {
                    <div class="row blog-grid-row">
                        @foreach (var blog in Model.ResultGetBlogsForPresentationDto.BlogForPresentationDtos)
                        {
                            <div class="col-md-6 col-sm-12">

                                <!-- Blog Post -->
                        <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a asp-controller="Blogs" asp-action="BlogDetails" asp-route-slug="@blog.Slug"><img class="img-fluid" src="~/@blog.PictureSrc" alt="@blog.Title"></a>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="entry-meta meta-item">
                                            <li>
                                                <div class="post-author">
                                                    @if (blog.AuthorInformationId != 0)
                                                    {
                                                        <a asp-controller="Experts" asp-action="ExpertDetails" asp-route-expertInformationId="@blog.AuthorInformationId"><img src="~/@blog.AuthorIconSrc" alt="@blog.AuthorFullName"> <span>@blog.AuthorFullName</span></a>
                                                    }
                                                    else
                                                    {
                                                        <a><img src="~/@blog.AuthorIconSrc" alt="@blog.AuthorFullName"> <span>@blog.AuthorFullName</span></a>
                                                    }
                                                </div>
                                            </li>
                                            <li><i class="far fa-clock"></i> @blog.PublishDate</li>
                                        </ul>
                                        <h3 class="blog-title"><a asp-controller="Blogs" asp-action="BlogDetails" asp-route-slug="@blog.Slug"> @blog.Title </a></h3>
                                        <p class="mb-0">@blog.ShortDescription</p>
                                    </div>
                                </div>
                                <!-- /Blog Post -->

                    </div>
                        }
                    </div>

                    <!-- Blog Pagination -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <paging total-records="Model.ResultGetBlogsForPresentationDto.RowCount"
                                    page-no="Model.ResultGetBlogsForPresentationDto.CurrentPage"
                                    page-size="Model.ResultGetBlogsForPresentationDto.PageSize"
                                    show-prev-next="true"
                                    show-total-pages="false"
                                    show-total-records="false"
                                    show-page-size-nav="true"
                                    show-first-numbered-page="true"
                                    show-last-numbered-page="true"
                                    query-string-key-page-no="Page"
                                    query-string-key-page-size="PageSize"
                                    gap-size="2">
                                </paging>
                            </div>
                        </div>
                    </div>
                    <!-- /Blog Pagination -->
                }
                else
                {
                    <h3>مقاله ای جهت نمایش یافت نشد</h3>
                }
            </div>

            <!-- Blog Sidebar -->
            <div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

                <!-- Search -->
                <div class="card search-widget">
                    <div class="card-body">
                        <form class="search-form">
                            <div class="input-group">
                                <input type="text" placeholder="جستجو..." class="form-control" name="searchKey" id="searchKey">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Search -->
                <!-- Latest Posts -->
                <div class="card post-widget">
                    <div class="card-header">
                        <h4 class="card-title">آخرین پست‌ها</h4>
                    </div>
                    <div class="card-body">
                        <ul class="latest-posts">
                            @foreach (var blog in Model.LatestBlogsDto)
                            {
                                <li>
                                    <div class="post-thumb">
                                        <a asp-controller="Blogs" asp-action="BlogDetails" asp-route-slug="@blog.Slug">
                                            <img class="img-fluid" src="~/@blog.PictureSrc" alt="@blog.Title">
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <h4>
                                            <a asp-controller="Blogs" asp-action="BlogDetails" asp-route-slug="@blog.Slug">@blog.Title</a>
                                        </h4>
                                        <p>@blog.PublishDate</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- /Latest Posts -->
                <!-- Categories -->
                <div class="card category-widget">
                    <div class="card-header">
                        <h4 class="card-title"> دسته‌بندی بلاگ </h4>
                    </div>
                    @if (Model.BlogCategoryForSideBarDtos.Count > 0)
                    {
                        <div class="card-body">
                            <ul class="categories">
                                @foreach (var blogCategory in Model.BlogCategoryForSideBarDtos)
                                {
                                    <li><a asp-controller="Blogs" asp-action="Index" asp-route-searchKey="@blogCategory.Name">@blogCategory.Name <span>(@blogCategory.BlogsCount)</span></a></li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                <!-- /Categories -->
                @if (Model.KeyWords.Count > 0)
                {
                    <!-- Tags -->
                    <div class="card tags-widget">
                        <div class="card-header">
                            <h4 class="card-title">برچسب‌ها</h4>
                        </div>
                        <div class="card-body">
                            <ul class="tags">
                                @foreach (var keyWord in Model.KeyWords)
                                {
                                    <li><a asp-controller="Blogs" asp-action="Index" asp-route-searchKey="@keyWord" class="tag">@keyWord</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /Tags -->
                }

            </div>
            <!-- /Blog Sidebar -->

        </div>
    </div>
</div>
<!-- /Page Content -->

@section Footer{
    <partial name="Footer"/>
}